// Typograph

// Titulos
// --------------------------------------------------------------------------
%heading {
  color: $color-typography--dark;
  font-weight: 700;
}

%heading-1 {
  @extend %heading;
  @include x-rem-fallback(font-size,$font-size-xxx-large);
  line-height: $font-line-height-xxx-large;
}

%heading-2 {
  @extend %heading;
  @include x-rem-fallback(font-size,$font-size-xx-large);
  line-height: $font-line-height-xx-large;
}

%heading-3 {
  @extend %heading;
  @include x-rem-fallback(font-size,$font-size-x-large);
  line-height: $font-line-height-xx-large;
}

%heading-4 {
  @extend %heading;
  @include x-rem-fallback(font-size,$font-size-large);
  line-height: $font-line-height-large;
}

%heading-5 {
  @extend %heading;
  @include x-rem-fallback(font-size,$font-size-regular);
  line-height: $font-line-height-regular;
}

%heading-6 {
  @extend %heading;
  @include x-rem-fallback(font-size,$font-size-small);
  line-height: $font-line-height-small;
}

// Texto
// --------------------------------------------------------------------------
%text {
  @include x-rem-fallback(font-size,$font-size-regular);
  line-height: $font-line-height-regular;
}
