<%
const getTexts = name => {
  switch(name) {
    case 'hemersonvianna':
      return {
        name: 'Hemerson Vianna',
        text1: 'Criado com o intuito de ser uma área para o compartilhamento de contéudo sobre as áreas de TI, voltadas para o desenvolvimento web.',
        text2: 'é o nome do autor desse site e tem esse como o principal blog que é ligado à sua profissão.',
      }
    case 'foconocapital':
      return {
        name: 'Foco no Capital',
        text1: 'Criado com o intuito de ser uma área para o compartilhamento de contéudo sobre o mercado financeiro, investimentos e finanças.',
        text2: 'é mais um meio para mostrar que vale a pena saber mais sobre investimentos e ativos do mercado financeiro.',
      }
    case 'foradabolha':
      return {
        name: 'Fora da Bolha',
        text1: 'Criado com o intuito de ser uma área para o compartilhamento de contéudo sobre curiosidades e assuntos interessantes/desconhecidos.',
        text2: 'tem a missão de estourar várias bolhas sociais e trazer um conhecimento que na maioria das vezes não se tem muito acesso.',
      }
  }
}
const banner = getTexts(projectName);
%>
<section>
  <h1 class="banner">
    <svg xmlns="http://www.w3.org/2000/svg" height="100"><use href="#<%- projectName %>" /></svg>
  </h1>
</section>
<div class="banner-description">
  <p><%- banner.text1 %></p>
  <p><strong class="text--hl"><%- banner.name %></strong> <%- banner.text2 %></p>
</div>
