<div class="nc-cards--highlight">
  <div class="container">
    <div class="nc-cards">
      <%
        page.posts.sort('_id').each(function(post){
          if (items.indexOf(post.path) >= 0) {
      %>
        <%- include('./card', {post, index: false, projectName}) %>
      <%
          }
        })
      %>
    </div>
  </div>
</div>
