// Support Menu
// --------------------------------------------------------------------------
.supportMenu {
  display: none;

  @media (min-width: $screen-desktop) {
    display: inherit;
  }
}

.supportMenu-list {
  display: flex;
  flex-direction: row;
}

.supportMenu-item {
  margin-left: 20px;

  &:first-child {
    margin-left: 0;
  }
}

.supportMenu-link {
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }
}

.supportMenu-text {
  @include x-rem-fallback(font-size, 1.2);

  color: rgba(255, 255, 255, 0.6);
  line-height: 24px;
}
