// Blogs
/// @author Hemerson Vianna

// Hemerson Vianna
$hemersonvianna-color-primary--dark-plus: #220e35;
$hemersonvianna-color-primary--dark: #361f4e;
$hemersonvianna-color-primary: #53386f;
$hemersonvianna-color-primary--light: #e3e0ff;

$hemersonvianna-color-article-title: #637a91;
$hemersonvianna-color-social: #706c9c;

// IMHO movies
$imhomovies-color-primary--dark-plus: #3a0909;
$imhomovies-color-primary--dark: #4e1111;
$imhomovies-color-primary: #c11e1e;
$imhomovies-color-primary--light: #e87d7d;

$imhomovies-color-article-title: #752929;
$imhomovies-color-social: #903f3f;

// Zamenhof
$zamenhof-color-primary--dark-plus: #092635;
$zamenhof-color-primary--dark: #113a4e;
$zamenhof-color-primary: #1ea2c1;
$zamenhof-color-primary--light: #e0f0ff;

$zamenhof-color-article-title: #123863;
$zamenhof-color-social: #5d7994;

// Sabor Instintivo
$saborinstintivo-color-primary--dark-plus: #403c0d;
$saborinstintivo-color-primary--dark: #4e4a11;
$saborinstintivo-color-primary: #c1ae1e;
$saborinstintivo-color-primary--light: #f2ec82;

$saborinstintivo-color-article-title: #5d6312;
$saborinstintivo-color-social: #8c895b;

// Foco no Capital
$foconocapital-color-primary--dark-plus: #0e3c0f;
$foconocapital-color-primary--dark: #114e21;
$foconocapital-color-primary: #358a4b;
$foconocapital-color-primary--light: #52bd6e;

$foconocapital-color-article-title: #63916c;
$foconocapital-color-social: #467552;

// Jornada Relevante
$jornadarelevante-color-primary--dark-plus: #50320b;
$jornadarelevante-color-primary--dark: #734a16;
$jornadarelevante-color-primary: #c1801e;
$jornadarelevante-color-primary--light: #e8b87d;

$jornadarelevante-color-article-title: #754a29;
$jornadarelevante-color-social: #90633f;

// Sonus et Rhythmus
$sonusetrhythmus-color-primary--dark-plus: #400a38;
$sonusetrhythmus-color-primary--dark: #65135b;
$sonusetrhythmus-color-primary: #b71ec1;
$sonusetrhythmus-color-primary--light: #ffe0fd;

$sonusetrhythmus-color-article-title: #692975;
$sonusetrhythmus-color-social: #903f8e;

// Fora da Bolha
$foradabolha-color-primary--dark-plus: #222323;
$foradabolha-color-primary--dark: #464848;
$foradabolha-color-primary: #626465;
$foradabolha-color-primary--light: #d0d0d0;

$foradabolha-color-article-title: #585858;
$foradabolha-color-social: #6d6d6d;

// Noob da era 8 bits
$noobdaera8bits-color-primary--dark-plus: #400a38;
$noobdaera8bits-color-primary--dark: #65135b;
$noobdaera8bits-color-primary: #b71ec1;
$noobdaera8bits-color-primary--light: #ffe0fd;

$noobdaera8bits-color-article-title: #692975;
$noobdaera8bits-color-social: #903f8e;
