// Blogs
/// @author Hemerson Vianna

// Hemerson Vianna
$hemersonvianna-color-primary--dark-plus: #220e35;
$hemersonvianna-color-primary--dark: #361f4e;
$hemersonvianna-color-primary: #53386f;
$hemersonvianna-color-primary--light: #e3e0ff;

$hemersonvianna-color-article-title: $hemersonvianna-color-primary--dark-plus;
$hemersonvianna-color-social: #706c9c;

$hemersonvianna-color-rgba: rgba(34, 14, 53, 0.9);

// IMHO movies
$imhomovies-color-primary--dark-plus: #3a0909;
$imhomovies-color-primary--dark: #4e1111;
$imhomovies-color-primary: #c11e1e;
$imhomovies-color-primary--light: #e87d7d;

$imhomovies-color-article-title: #752929;
$imhomovies-color-social: #903f3f;

$imhomovies-color-rgba: rgba(58, 9, 9, 0.9);

// Zamenhof
$zamenhof-color-primary--dark-plus: #092635;
$zamenhof-color-primary--dark: #113a4e;
$zamenhof-color-primary: #1ea2c1;
$zamenhof-color-primary--light: #e0f0ff;

$zamenhof-color-article-title: #123863;
$zamenhof-color-social: #20556f;

$zamenhof-color-rgba: rgba(9, 38, 53, 0.9);

// Sabor Instintivo
$saborinstintivo-color-primary--dark-plus: #403c0d;
$saborinstintivo-color-primary--dark: #4e4a11;
$saborinstintivo-color-primary: #c1ae1e;
$saborinstintivo-color-primary--light: #f2ec82;

$saborinstintivo-color-article-title: #5d6312;
$saborinstintivo-color-social: #8c895b;

$saborinstintivo-color-rgba: rgba(64, 60, 13, 0.9);

// Foco no Capital
$foconocapital-color-primary--dark-plus: #0e3c0f;
$foconocapital-color-primary--dark: #114e21;
$foconocapital-color-primary: #358a4b;
$foconocapital-color-primary--light: #52bd6e;

$foconocapital-color-article-title: #63916c;
$foconocapital-color-social: #467552;

$foconocapital-color-rgba: rgba(14, 60, 15, 0.9);

// Jornada Relevante
$jornadarelevante-color-primary--dark-plus: #50320b;
$jornadarelevante-color-primary--dark: #734a16;
$jornadarelevante-color-primary: #c1801e;
$jornadarelevante-color-primary--light: #e8b87d;

$jornadarelevante-color-article-title: #754a29;
$jornadarelevante-color-social: #90633f;

$jornadarelevante-color-rgba: rgba(80, 50, 11, 0.9);

// Sonus et Rhythmus
$sonusetrhythmus-color-primary--dark-plus: #400a38;
$sonusetrhythmus-color-primary--dark: #65135b;
$sonusetrhythmus-color-primary: #b71ec1;
$sonusetrhythmus-color-primary--light: #ffe0fd;

$sonusetrhythmus-color-article-title: #692975;
$sonusetrhythmus-color-social: #903f8e;

$sonusetrhythmus-color-rgba: rgba(64, 10, 56, 0.9);

// Fora da Bolha
$foradabolha-color-primary--dark-plus: #222323;
$foradabolha-color-primary--dark: #464848;
$foradabolha-color-primary: #626465;
$foradabolha-color-primary--light: #d0d0d0;

$foradabolha-color-article-title: #585858;
$foradabolha-color-social: #6d6d6d;

$foradabolha-color-rgba: rgba(34, 35, 35, 0.9);

// Noob da era 8 bits
$noobdaera8bits-color-primary--dark-plus: #05292b;
$noobdaera8bits-color-primary--dark: #0a3c40;
$noobdaera8bits-color-primary: #136165;
$noobdaera8bits-color-primary--light: #e0faff;

$noobdaera8bits-color-article-title: #0f4346;
$noobdaera8bits-color-social: #1c575a;

$noobdaera8bits-color-rgba: rgba(10, 60, 64, 0.9);

// Videos
$videos-color-primary--dark-plus: #343544;
$videos-color-primary--dark: #343544;
$videos-color-primary: #5a5b67;
$videos-color-primary--light: #e0e0e0;

$videos-color-article-title: #5a5b67;
$videos-color-social: #e0e0e0;

$videos-color-rgba: rgba(10, 60, 64, 0.9);

// Following
$following-color-primary--dark-plus: #343544;
$following-color-primary--dark: #343544;
$following-color-primary: #5a5b67;
$following-color-primary--light: #e0e0e0;

$following-color-article-title: #5a5b67;
$following-color-social: #e0e0e0;

$following-color-rgba: rgba(10, 60, 64, 0.9);

// Github
$github-color-primary--dark-plus: #343544;
$github-color-primary--dark: #343544;
$github-color-primary: #5a5b67;
$github-color-primary--light: #e0e0e0;

$github-color-article-title: #5a5b67;
$github-color-social: #e0e0e0;

$github-color-rgba: rgba(10, 60, 64, 0.9);

// Profile
$profile-color-primary--dark-plus: #343544;
$profile-color-primary--dark: #343544;
$profile-color-primary: #5a5b67;
$profile-color-primary--light: #e0e0e0;

$profile-color-article-title: #5a5b67;
$profile-color-social: #e0e0e0;

$profile-color-rgba: rgba(10, 60, 64, 0.9);
