// Blogs
/// @author Hemerson Vianna

// Hemerson Vianna
$hemersonvianna-background: #212121;
$hemersonvianna-color-primary--dark: #2a134f;
$hemersonvianna-color-primary: #673ab7;
$hemersonvianna-color-primary--light: #c6b6e3;

$hemersonvianna-color-accent: #e040fb;
$hemersonvianna-color-text: #fff;
$hemersonvianna-color-rgba: rgba(103, 58, 183, 0.9);

// IMHO movies
$imhomovies-background: #212121;
$imhomovies-color-primary--dark: #32211a;
$imhomovies-color-primary: #795548;
$imhomovies-color-primary--light: #ccbfbb;

$imhomovies-color-accent: #ff5722;
$imhomovies-color-text: #fff;
$imhomovies-color-rgba: rgba(121, 85, 72, 0.9);

// Zamenhof
$zamenhof-background: #212121;
$zamenhof-color-primary--dark: #08406b;
$zamenhof-color-primary: #2196f3;
$zamenhof-color-primary--light: #aed7fa;

$zamenhof-color-accent: #00bcd4;
$zamenhof-color-text: #fff;
$zamenhof-color-rgba: rgba(33, 150, 243, 0.9);

// Sabor Instintivo
$saborinstintivo-background: #212121;
$saborinstintivo-color-primary--dark: #715401;
$saborinstintivo-color-primary: #ffc107;
$saborinstintivo-color-primary--light: #ffe7a7;

$saborinstintivo-color-accent: #ff9800;
$saborinstintivo-color-text: #fff;
$saborinstintivo-color-rgba: rgba(255, 193, 7, 0.9);

// Foco no Capital
$foconocapital-background: #212121;
$foconocapital-color-primary--dark: #1d4b1e;
$foconocapital-color-primary: #4caf50;
$foconocapital-color-primary--light: #bce0bd;

$foconocapital-color-accent: #009688;
$foconocapital-color-text: #fff;
$foconocapital-color-rgba: rgba(76, 175, 80, 0.9);

// Jornada Relevante
$jornadarelevante-background: #212121;
$jornadarelevante-color-primary--dark: #71220a;
$jornadarelevante-color-primary: #ff5722;
$jornadarelevante-color-primary--light: #ffc0af;

$jornadarelevante-color-accent: #795548;
$jornadarelevante-color-text: #fff;
$jornadarelevante-color-rgba: rgba(255, 87, 34, 0.9);

// Sonus et Rhythmus
$sonusetrhythmus-background: #212121;
$sonusetrhythmus-color-primary--dark: #670727;
$sonusetrhythmus-color-primary: #e91e63;
$sonusetrhythmus-color-primary--light: #f6aec4;

$sonusetrhythmus-color-accent: #9e9e9e;
$sonusetrhythmus-color-text: #fff;
$sonusetrhythmus-color-rgba: rgba(233, 30, 99, 0.9);

// Fora da Bolha
$foradabolha-background: #212121;
$foradabolha-color-primary--dark: #434343;
$foradabolha-color-primary: #9E9E9E;
$foradabolha-color-primary--light: #D9D9D9;

$foradabolha-color-accent: #607D8B;
$foradabolha-color-text: #fff;
$foradabolha-color-rgba: rgba(158, 158, 158, 0.9);

// Noob da era 8 bits
$noobdaera8bits-background: #212121;
$noobdaera8bits-color-primary--dark: #014039;
$noobdaera8bits-color-primary: #009688;
$noobdaera8bits-color-primary--light: #A3D7D1;

$noobdaera8bits-color-accent: #FFC107;
$noobdaera8bits-color-text: #fff;
$noobdaera8bits-color-rgba: rgba(0, 150, 136, 0.9);

// Videos
$videos-background: #212121;
$videos-color-primary--dark: #26333A;
$videos-color-primary: #607D8B;
$videos-color-primary--light: #C3CDD2;

$videos-color-accent: #CDDC39;
$videos-color-text: #fff;
$videos-color-rgba: rgba(96, 125, 139, 0.9);

// Following
$following-background: #212121;
$following-color-primary--dark: #26333A;
$following-color-primary: #607D8B;
$following-color-primary--light: #C3CDD2;

$following-color-accent: #CDDC39;
$following-color-text: #fff;
$following-color-rgba: rgba(96, 125, 139, 0.9);

// Github
$github-background: #212121;
$github-color-primary--dark: #26333A;
$github-color-primary: #607D8B;
$github-color-primary--light: #C3CDD2;

$github-color-accent: #CDDC39;
$github-color-text: #fff;
$github-color-rgba: rgba(96, 125, 139, 0.9);

// Profile
$profile-background: #212121;
$profile-color-primary--dark: #26333A;
$profile-color-primary: #607D8B;
$profile-color-primary--light: #C3CDD2;

$profile-color-accent: #CDDC39;
$profile-color-text: #fff;
$profile-color-rgba: rgba(96, 125, 139, 0.9);
