// Buttons
/// @author Hemerson Vianna

$button-tiny   : 4px 5px !default;
$button-small  : 10px 22px !default;
$button-medium : 12px 52px !default;
$button-large  : 15px 72px !default;

$button-font-family    : $base-font-family !default;
$button-font-color     : #fff !default;
$button-font-color-alt : #333 !default;
$button-font-tiny      : 12px !default;
$button-font-small     : 14px !default;
$button-font-medium    : 16px !default;
$button-font-large     : 20px !default;
$button-font-weight    : 700 !default;
$button-font-align     : center !default;