// Colors
/// @author Hemerson Vianna

//
$color-primary--dark: #343544;
$color-primary: #5a5b67;
$color-primary--light: #e0e0e0;

$color-secundary--dark: rgba(255,255,255,0.8);
$color-secundary: #d5d2ef;
$color-secundary--light: #fafafb;

$color-typography--dark: #282838;
$color-typography: rgba(0, 0, 0, 0.6);
$color-typography--light: #c5c5c8;

$color-typography--gray_light: #d4d4c8;

$color-typography--link_dark: #4696cb;
$color-typography--link_light: #ffffff;

$color-positive_dark: #cdd9a1;
$color-positive_light: #f6f8ee;

$color-negative_dark: #d9a1aa;
$color-negative_light: #f8eeef;

$color-white: #fff;
