// Colors
/// @author Hemerson Vianna

//
$color-primary--dark-plus: #3a0909;
$color-primary--dark: #4e1111;
$color-primary: #c11e1e;
$color-primary--light: #e87d7d;

$color-secundary--dark: #876767;
$color-secundary: #d5d2ef;
$color-secundary--light: #ececec;

$color-typography--dark: #631212;
$color-typography: #5a6772;
$color-typography--light: #f38787;

$color-typography--gray_light: #d4d4c8;

$color-typography--link_dark: #61a7b9;
$color-typography--link_light: #ffffff;

$color-positive_dark: #cdd9a1;
$color-positive_light: #f6f8ee;

$color-negative_dark: #d9a1aa;
$color-negative_light: #f8eeef;

$color-white: #fff;
