// Default
/// @author Hemerson Vianna

// Base layout
// --------------------------------------------------------------------------
$base-background-color: $color-background;
$base-font-family: "PT Sans", sans-serif;
$base-font-family-alt: "PT Sans", sans-serif;
$base-font-size: 62.5% !default;
$base-font-size-large: 100% !default;
$base-line-height: 1.2 !default;
$base-font-color: $color-typography;
$base-font-weight: 400;
