// Default
/// @author Hemerson Vianna

// Base layout
// --------------------------------------------------------------------------
$base-background-color: #fff;
$base-font-family     : 'Cabin Condensed', sans-serif;
$base-font-family-alt : 'Cabin Condensed', sans-serif;
$base-font-size       : 62.5% !default;
$base-font-size-large : 100% !default;
$base-line-height     : 1.2 !default;
$base-font-color      : $color-typography;
$base-font-weight     : 400;
