// Default
/// @author Hemerson Vianna

// Base layout
// --------------------------------------------------------------------------
$base-background-color: #fff;
$base-font-family     : 'Cabin Condensed', sans-serif;
$base-font-family-alt : 'Cabin Condensed', sans-serif;
$base-font-color      : $color-typography;
$base-font-weight     : 400;
