// Blogs
/// @author Hemerson Vianna

// Site Principal
$nerdcalistenico-background: #212121;
$nerdcalistenico-color-primary--dark: #26333a;
$nerdcalistenico-color-primary: #607d8b;
$nerdcalistenico-color-primary--light: #c3cdd2;

$nerdcalistenico-color-accent: #cddc39;
$nerdcalistenico-color-text: #fff;
$nerdcalistenico-color-rgba: rgba(96, 125, 139, 0.9);
