// Blogs
/// @author Hemerson Vianna

// Site Principal
$nerdcalistenico-color-primary--dark-plus: #343544;
$nerdcalistenico-color-primary--dark: #343544;
$nerdcalistenico-color-primary: #5a5b67;
$nerdcalistenico-color-primary--light: #e0e0e0;

$nerdcalistenico-color-article-title: #5a5b67;
$nerdcalistenico-color-social: #e0e0e0;

$nerdcalistenico-color-rgba: rgba(10,60,64,0.9);
