// Typograph
/// @author Hemerson Vianna

// 4.2em = 42px/67.2px
$font-size-xxx-large: 4.8;
$font-line-height-xxx-large: 1.4;
// 2.5em = 25px/36px
$font-size-xx-large: 4;
$font-line-height-xx-large: 1.4;
// 2.1em = 21px/24px
$font-size-x-large: 3.5;
$font-line-height-x-large: 1.4;
// 1.7em = 17px/30px
$font-size-large: 2.8;
$font-line-height-large: 1.4;
// 1.5em = 15px/24px
$font-size-regular: 2.0;
$font-line-height-regular: 1.4;
// 1.3em = 13px/22.5px
$font-size-small: 1.7;
$font-line-height-small: 1.4;