---
name: home
title: Início
---

<main class="home_articles js-load_more-container">
  <div class="articles">
  	<% page.posts.each(function(post){ %>
  		<%- partial('_partial/item-post', {post: post, index: true}) %>
  	<% }) %>
  </div>
  <% if (page.posts.length > 9){ %>
  <p><button class="button-load_more js-load_more" type="button">Carregar mais</button></p>
  <% } %>
</main>
