<% if (site.categories.length){ %>
	<div class="sidebar-widget">
		<nav class="widget" role="navigation">
    		<h3 class="widget-title">Categorias</h3>
		    <%- list_categories() %>
		</nav>
	</div>
<% } %>