<% if (site.posts.length){ %>
  <div class="sidebar-widget">
    <nav class="widget" role="navigation">
        <h3 class="widget-title">Artigos recentes</h3>
        <ul class="widget-list" role="menubar">
        <% site.posts.sort('date', -1).limit(5).each(function(post){ %>
          <li class="widget-item" role="menuitem">
            <a class="widget-link" href="<%- url_for(post.path) %>">
              <span class="widget-text"><%= post.title || '(no title)' %></span>
            </a>
          </li>
        <% }) %>
        </ul>
    </nav>
  </div>
<% } %>