<% if (site.tags.length){ %>
	<div class="sidebar-widget">
		<nav class="widget" role="navigation">
    		<h3 class="widget-title">Tags</h3>
			<div class="widget">
			  <%- list_tags() %>
			</div>
		</nav>
	</div>
<% } %>