@import "../../../vendor/scss/07-pages/_default";

// Default
%row {
  @media (min-width: $screen-desktop) {
    max-width: $screen-desktop;
    margin: 0 auto;
  }
}

.banner {
  padding: 20px;
  text-align: center;
}

.banner-description {
  background: #fff;
  padding: 5px 10px;
  text-align: center;

  p {
    @include x-rem-fallback(font-size, 1.7);

    margin: 0;
  }
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
  width: 100%;
}

.content {
  @include x-clearfix;
  margin: 0;
  padding-bottom: 2em;
  padding-top: 2em;
}

.container {
  @include x-clearfix;
  @extend %row;
  margin: 0 auto;
  overflow: inherit;
  padding-left: 1em;
  padding-right: 1em;

  @media (min-width: $screen-desktop) {
    padding-left: 0;
    padding-right: 0;
  }
}

.sidePadding {
  padding: 0 10px;

  .text {
    @include x-rem-fallback(font-size, $font-size-small);

    @media (min-width: $screen-desktop) {
      @include x-rem-fallback(font-size, $font-size-regular);
    }
  }
}

.page-article .article {
  @media (min-width: $screen-desktop) {
    background: rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    max-width: 748px;
    padding: 0 10px;
  }
}

.adverts {
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  margin-left: calc(-50vw + 50%);
  min-width: 100vw;
  padding: 5px 0;
  width: 100vw;
}

.advert {
  background: #212121;
  border: 10px double rgba(0, 0, 0, 0.4);
  max-width: 1024px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

// ON
.on {
  .wrapper {
    overflow: inherit;
    position: fixed;
    top: 0;
  }

  .socialMenu {
    display: inherit;
  }

  .button-menu_main {
    background: rgba(0, 0, 0, 0.9);
    color: $color-primary--light;
    height: 100%;
    position: fixed;
    left: inherit;
    right: 0;
    top: 0;
    padding: 0;
    width: 15%;
    z-index: 2;

    svg {
      fill: $color-primary--light;
      margin-top: 7px;
    }
  }

  .button-menu_main-text {
    display: block;
    padding-top: 10px;
    position: absolute;
    top: 20px;
    text-align: center;
    width: 100%;
  }

  .header-elements {
    padding: 5px 0 0;
  }

  .header-top,
  .mainMenu {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.6);
    left: 0;
    transition: left 200ms ease-in-out;
    width: 85%;
  }

  .mainMenu-list {
    display: flex;
    flex-wrap: wrap;
    align-self: flex-start;
    padding-top: 10px;
    width: 100%;
  }

  .mainMenu-item {
    display: flex;
    justify-content: center;
    margin-left: 0;
    width: x-gridsystem-width(6);

    @media (min-width: $screen-tablet-portrait) {
      width: x-gridsystem-width(4);
    }
  }

  .mainMenu-item--full {
    padding: 10px 0;
    justify-content: space-around;
    width: x-gridsystem-width(12);

    @media (min-width: $screen-tablet-portrait) {
      padding: 0;
      justify-content: center;
    }
  }

  .mainMenu-link {
    justify-content: center;
    padding: 10px;
    text-align: center;
    width: 100%;
  }

  .mainMenu-list--other {
    .mainMenu-link {
      background: #f9f9f9;
      border: 1px solid $color-white;
      display: flex;
      height: 100%;
      align-items: center;

      &.on,
      &:hover {
        background: $color-primary--dark;
        color: $color-white;
      }
    }
  }

  .socialMenu {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
  }

  .socialMenu-list {
    justify-content: flex-end;
  }

  .socialMenu-list--second {
    margin: 0;
    margin-top: 10px;
  }
}

.page-apresentacao,
.page-presentation {
  .header {
    z-index: 999;

    @media (min-width: $screen-tablet-portrait) {
      z-index: 1;
    }
  }

  .body {
    background: #fff;
    height: 100%;
    overflow: hidden;
    position: absolute;
    line-height: 1;
    margin: 0;
    color: #222;
    top: 0;
    left: 0;
    width: 100%;

    @media (min-width: $screen-tablet-portrait) {
      border-radius: 4px;
      min-height: 600px;
      position: relative;
    }
  }
}
