@import "../../../node_modules/prime-itcss/source/scss/07-pages/_default";

// Default
%row {
  @media(min-width:$screen-desktop) {
    max-width: $screen-desktop;
    margin: 0 auto;
  }
}

.banner {
  padding: 20px;
  text-align: center;
}

.banner-description {
  padding: 5px 10px;
  text-align: center;

  p {
    @include x-rem-fallback(font-size, 1.7);

    margin: 0;
    opacity: 0.4;
  }
}

.wrapper {
  overflow: hidden;
  width: 100%;
}

.content {
  @include x-clearfix;
  margin: 0;
  padding-bottom: 2em;
  padding-top: 2em;
}

.container {
  @include x-clearfix;
  @extend %row;
  margin: 0 auto;
  overflow: inherit;
  padding-left: 1em;
  padding-right: 1em;

  @media(min-width:$screen-desktop) {
    padding-left: 0;
    padding-right: 0;
  }
}

.sidePadding {
  padding: 0 10px;

  .text {
    @include x-rem-fallback(font-size,$font-size-small);

    @media(min-width:$screen-desktop) {
      @include x-rem-fallback(font-size,$font-size-regular);
    }
  }
}

.highlight {
  @include x-rem-fallback(font-size,$font-size-regular);
  color: $color-typography;
  margin-bottom: 20px;
  text-align: center;
}

.highlight-title {
  @include x-rem-fallback(font-size,3);

  font-weight: 700;
  line-height: 1;
  padding: 0 0 20px 0;

  @media(min-width:$screen-desktop) {
    @include x-rem-fallback(font-size,$font-size-xxx-large);

    margin-left: x-gridsystem-width(2);
    padding: 20px 0;
    width: x-gridsystem-width(8);
  }
}

.highlight-box {
  @media(min-width:$screen-desktop) {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: x-gridsystem-width(2);
    padding-top: 20px;
    width: x-gridsystem-width(8);
  }
}

.highlight-box-image {
  border-radius: 5%;
  float: left;
  height: 100px;
  margin-right: 10px;
  min-width: 100px;
  overflow: hidden;
  width: 100px;

  @media(min-width:$screen-desktop) {
    display: inline-block;
    float: inherit;
    height: 150px;
    margin-right: 20px;
    min-width: 150px;
    width: 150px;
  }
}

svg.highlight-box-image {
  border-radius: inherit;
  fill: #f7f7f7;
  height: inherit;
}

.highlight-box-description {
  text-align: left;

  p,
  h3 {
    @include x-rem-fallback(font-size,$font-size-small);

    @media(min-width:$screen-desktop) {
      @include x-rem-fallback(font-size,$font-size-regular);
    }
  }
}

.highlight-box-description-title {
  font-weight: 700;
}

.highlight-text {
  @include x-rem-fallback(font-size,$font-size-small);
  text-align: left;

  p {
    margin-top: 20px;

    @media(min-width:$screen-desktop) {
      @include x-rem-fallback(font-size,$font-size-regular);
      margin-top: 0;
    }
  }

  @media(min-width:$screen-desktop) {
    box-shadow: 0 1px 2px 0px #ccc;
    border-radius: 4px;
    margin-top: 40px;
    margin-left: x-gridsystem-width(2);
    padding: 10px;
    text-align: center;
    width: x-gridsystem-width(8);
  }
}

.page-perfil {
  .highlight-box {
    padding: 0;
  }
}

.perfilRow {
  display: inline-block;
  margin-left: -10px;
  margin-right: -10px;
}

.perfilBox {
  @include x-column(12);

  margin-bottom: 20px;
}

.perfilBox--half {
  @include x-column(12);

  margin-bottom: 20px;

  @media(min-width:$screen-tablet-portrait) {
    width: x-gridsystem-width(6);
  }
}

.perfil-tags {
  display: block;

  span {
    background: #f1f1f1;
    border-radius: 4px;
    font-size: 12px;
    padding: 2px 4px;
  }

  .btn-link {
    font-size: 14px;

    &:before {
      content: ">";
      display: inline-block;
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}

.perfil-extra {
  font-size: 16px;
}

.perfil-hl {
  display: block;
  font-size: 14px;
  font-weight: 400;

  span {
    background: #f1f1f1;
    border-radius: 4px;
    font-size: 12px;
    padding: 2px 4px;
  }
}

.perfil-item {
  box-shadow: 0 1px 2px 0 #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 5px 10px;
}

// ON
.on {
  .wrapper {
    overflow: inherit;
  	position: fixed;
    top: 0;
  }

  .socialMenu {
    display: inherit;
  }

  .button-menu_main {
    background: rgba(255,255,255,0.9);
    color: $color-primary--dark;
    height: 100%;
    position: fixed;
    left: inherit;
    right: 0;
    top: 0;
    padding: 0;
    width: 15%;
    z-index: 2;

    svg {
      fill: $color-primary--dark;
      margin-top: 7px;
    }
  }

  .button-menu_main-text {
    display: block;
    padding-top: 10px;
    position: absolute;
    top: 20px;
    text-align: center;
    width: 100%;
  }

  .header-elements {
    padding: 5px 0 0;
  }

  .header-top,
  .mainMenu {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.6);
    left: 0;
    transition: left 200ms ease-in-out;
    width: 85%;
  }

  .mainMenu-list {
    display: flex;
    flex-wrap: wrap;
    align-self: flex-start;
    padding-top: 10px;
    width: 100%;
  }

  .mainMenu-item {
    display: flex;
    justify-content: center;
    margin-left: 0;
    width: x-gridsystem-width(6);

    @media(min-width:$screen-tablet-portrait) {
      width: x-gridsystem-width(4);
    }
  }

  .mainMenu-link {
    justify-content: center;
    padding: 10px;
    text-align: center;
    width: 100%;
  }

  .mainMenu-list--other {
    .mainMenu-link {
      background: #f9f9f9;
      border: 1px solid $color-white;

      &.on,
      &:hover {
        background: $color-primary--dark;
        color: $color-white;
      }
    }
  }

  .socialMenu {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
  }

  .socialMenu-list {
    justify-content: flex-end;
  }

  .socialMenu-list--second {
    margin: 0;
    margin-top: 10px;
  }
}

.page-apresentacao,
.page-presentation {
  .header {
    z-index: 999;

    @media(min-width:$screen-tablet-portrait) {
      z-index: 1;
    }
  }

  .body {
    background: #fff;
    height: 100%;
    overflow: hidden;
    position: absolute;
    line-height: 1;
    margin: 0;
    color: #222;
    top: 0;
    left: 0;
    width: 100%;

    @media(min-width:$screen-tablet-portrait) {
      border-radius: 4px;
      min-height: 600px;
      position: relative;
    }
  }
}
