.sitemap {
  /* -------- Top Level --------- */
  .primary {
    clear: both;
    width: 100%;
    margin-top: 4em;
  }
  .primary #home {
    position: absolute;
    margin-top: -4em;
    margin-bottom: 0;
    min-width: 16.5em;
    width: 100%;
  }
  .primary #home:before { display: none; }
  .primary ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    position: relative;
  }
  .primary li {
    flex: 1;
    flex-basis: 12.5em;
    padding-right: 1.25em;
    position: relative;
  }
  .primary > ul > li { margin-top: 3em; }
  .primary li a {
    margin: 0;
    padding: .575em .6375em .6375em .6375em;
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    color: #fff;
    background: #28a3bf;
    text-shadow: 0 0 10px rgba(0,0,0,.1);
    border: 1px solid  rgba(0,0,0,.025);
    box-shadow: 0px 2px 1px rgba(0,0,0,0.15);
    text-decoration: none;
  }
  .primary li a:hover { background-color: #57cae4; }
  .primary a:link:after,
  .primary a:visited:after,
  .utility a:link:after,
  .utility a:visited:after {
    content: " "attr(href)" ";
    display: block;
    font-weight: 600;
    font-size: .85em;
    margin-top: .25em;
    word-wrap: break-word;
    color: rgba(255,255,255,.75);
  }
  /* -------- Second Level --------- */
  .primary ul ul { display: block; }
  .primary ul ul li {
    padding-top: .6875em;
    padding-right: 0;
  }
  .primary ul ul li a { background-color: #745ea0; }
  .primary ul ul li a:hover { background-color: #9b84ca; }
  .primary ul ul li:first-child {padding-top: 2em; }
  /* -------- Third Level --------- */
  .primary ul ul ul {
    margin-top: .6em;
    padding-top: .6em;
    padding-bottom: .625em;
  }
  .primary ul ul ul li {
    padding-top: .3125em;
    padding-bottom: .3125em;
  }
  .primary ul ul ul li a {
    background-color: #a05e73;
    font-size: .85em;
    padding: .85em;
    width: 90%;
    margin-right: 0;
    margin-left: auto;
  }
  .primary ul ul ul li a:hover { background-color: #d07c96; }
  .primary ul ul ul li:first-child { padding-top: 1em; }
  .primary ul ul ul li a:link:after,
  .primary ul ul ul li a:visited:after { font-size: .85em; }
  /* --------	Fourth Level --------- */
  .primary ul ul ul ul {
    margin-top: 0;
    padding-top: .3125em;
    padding-bottom: .3125em;
  }
  .primary ul ul ul ul li a {
    background-color: #a0915d;
    padding: .75em ;
    width: 80%;
  }
  .primary ul ul ul ul li a:hover { background-color: #ccba7d; }
  .primary ul ul ul ul li a:link:after,
  .primary ul ul ul ul li a:visited:after { display: none; }
  /* ------------------------------------------------------------
    Connecting Lines:
    Uncomment 'border-color: red' for debugging
  ------------------------------------------------------------ */
  .primary ul:before,
  .primary ul:after,
  .primary ul li:before,
  .primary ul li:after {
    display: block;
    content: '';
    position: absolute;
    border-width: 0;
    border-color: #e3e3e3;
    border-style: solid;
    z-index: -1;
    /* border-color: red; */
  }
  .primary > ul > li:before {
    height: 1.375em;
    top: -1.375em;;
    right: calc(50% + .625em);
    width: calc(100% - 2px);
    border-top-width: 2px;
    border-right-width: 2px;
    /* border-color: red; */
  }
  .primary > ul > li:first-child + li:before {
    border-top-width: 0;
    height: 5em;
    top: -5em;
    /* border-color: red; */
  }
  .primary ul ul li:after {
    width: 50%;
    height: .6875em;
    top: 0;
    right: 1px;
    border-left-width: 2px;
    /* border-color: red */;
  }
  .primary ul ul li:first-child:before {
    width: 50%;
    height: 1.3125em;
    top: .6875em;
    right: 1px;
    border-left-width: 2px;
    /* border-color: red; */
  }
  .primary > ul > li:last-child:after {
    border-bottom-width: 0;
  }
  .primary ul ul ul li:before {
    width: calc(50% - 5px) !important;
    height: calc(100% - 2px);
    top: -50%;
    left: 0;
    border-left-width: 2px;
    border-bottom-width: 2px;
    /* border-color: red; */
  }
  .primary ul ul ul li:first-child:before {
    height: 2.125em;
    top: -1px;
    border-top-width: 2px;
    /* border-color: red; */
  }
  .primary ul ul ul:before {
    width: 50%;
    height: 1.25em;
    top: -10px;
    right: 1px;
    border-left-width: 2px;
    /* border-color: red; */
  }
  .primary ul ul ul li:after {
    border-width: 0;
  }
  .primary ul ul ul ul li:before,
  .primary ul ul ul ul li:first-child:before {
    display: none;
  }

  .primary ul ul ul ul:before {
    width: 1px;
    height: calc(100% + 2.5em);
    top: -2.5em;
    left: 0;
    border-left-width: 2px;
    /* border-color: red; */
  }
  /* ------------------------------------------------------------
    Utility Navigation
  ------------------------------------------------------------ */
  .utility {
    float: right;
    margin-top: 0;
    margin-bottom: -.25em;
    margin-right: 1.25em;
    max-width: 48%;
    list-style-type: none;
  }
  .utility li {
    padding: 0 0 .625em .625em;
    display: inline-block;
  }
  .utility li a {
    display: block;
    font-size: .95rem;
    font-weight: 700;
    padding: .75em 1em;
    font-weight: bold;
    text-align: left;
    color: white;
    background-color: #000;
    border: 1px solid  rgba(0,0,0,.025);
    box-shadow: 0px 2px 0 rgba(0,0,0,0.15);
    text-shadow: 0 0 10px rgba(0,0,0,.15);
    text-decoration: none;
  }
  .utility li a:hover { background-color: #333; }
  .utility li a:link:after,
  .utility li a:visited:after {
    color: rgba(255,255,255,.75);
    font-size: .75em;
    font-weight: 600;
    margin-top: .25em;
  }
  /* ------------------------------------------------------------
    Responsive Styles
  ------------------------------------------------------------ */
  @media screen and (max-width: 30em) {
    .primary ul { display: block; }
    .primary li {
      width: 100%;
      padding-right: 0;
    }
    .primary #home {
      width: 100%;
      position: relative;
      margin-bottom: -1em;
      margin-top: 0;
    }
    .utility {
      float: none;
      display: block;
      width: 100%;
      text-align: right;
      margin-bottom: 2.5em;
      max-width: 100%;
    }
  }
  /* two column */
  @media screen and (min-width: 30em) {
    .primary > ul > li {	max-width: 50%;	}
  }
  /* three column */
  @media screen and (min-width: 38.5em) {
    .primary > ul > li {	max-width: 33%;	}
  }
  /* four column */
  @media screen and (min-width: 50em) {
    .primary > ul > li {	max-width: 25%;	}
  }
  /* five column */
  @media screen and (min-width: 61em) {
    .primary > ul > li {	max-width: 20%;	}
  }
  /* six column */
  @media screen and (min-width: 73em) {
    .primary > ul > li {	max-width: 16.66%;	}
  }
  /* seven column */
  @media screen and (min-width: 84.5em) {
    .primary > ul > li {	max-width: 14.285%;	}
  }
  /* eight column */
  @media screen and (min-width: 96em) {
    .primary > ul > li {	max-width: 12.5%; }
  }
  /* nine column */
  @media screen and (min-width: 107.5em) {
    .primary > ul > li {	max-width: 11.11%; }
  }
  /* ten column */
  @media screen and (min-width: 119em) {
    .primary > ul > li {	max-width: 10%; }
  }
}
