<footer class="footer">
	<div class="footer-core">
		<%/*<div class="footer-links">
			<h3 class="footer-links-title">Páginas</h3>
			<nav class="footermenu-nav" role="navigation">
				<ul class="footermenu-list" role="menubar">
					<li class="footermenu-item" role="menuitem">
						<a class="footermenu-link" href="/">
							<span class="footermenu-text">Início</span>
						</a>
					</li>
					<li class="footermenu-item" role="menuitem">
						<a class="footermenu-link" href="/about/">
							<span class="footermenu-text">Sobre mim</span>
						</a>
					</li>
					<li class="footermenu-item" role="menuitem">
						<a class="footermenu-link" href="/articles/">
							<span class="footermenu-text">Artigos</span>
						</a>
					</li>
					<li class="footermenu-item" role="menuitem">
						<a class="footermenu-link" href="/projects/">
							<span class="footermenu-text">Projetos</span>
						</a>
					</li>
				</ul>
			</nav>
		</div><!-- /footer-links --> */%>

		<div class="footer-links">
			<h3 class="footer-links-title">Categorias</h3>
			<nav class="footermenu-nav" role="navigation">
				<%- list_categories() %>
			</nav>
		</div><!-- /footer-links -->

		<%/*<div class="footer-links">
			<h3 class="footer-links-title">Meus Links</h3>
			<nav class="footermenu-nav" role="navigation">
				<ul class="footermenu-list" role="menubar">
					<li class="footermenu-item" role="menuitem">
						<a class="footermenu-link" href="mailto:hemerson.lourenco@gmail.com">
							<span class="footermenu-text">E-mail</span>
						</a>
					</li>
					<li class="footermenu-item" role="menuitem">
						<a class="footermenu-link" href="https://twitter.com/hemersonvianna" target="_blank">
							<span class="footermenu-text">Twitter</span>
						</a>
					</li>
					<li class="footermenu-item" role="menuitem">
						<a class="footermenu-link" href="https://www.facebook.com/hemersonvianna" target="_blank">
							<span class="footermenu-text">Facebook</span>
						</a>
					</li>
          <li class="footermenu-item" role="menuitem">
            <a class="footermenu-link" href="https://www.instagram.com/hemerson.vianna/" target="_blank">
              <span class="footermenu-text">Instagram</span>
            </a>
          </li>
					<li class="footermenu-item" role="menuitem">
						<a class="footermenu-link" href="https://github.com/hemersonvianna" target="_blank">
							<span class="footermenu-text">Github</span>
						</a>
					</li>
          <li class="footermenu-item" role="menuitem">
            <a class="footermenu-link" href="https://gist.github.com/hemersonvianna" target="_blank">
              <span class="footermenu-text">Gist</span>
            </a>
          </li>
					<li class="footermenu-item" role="menuitem">
						<a class="footermenu-link" href="https://www.linkedin.com/in/hemersonvianna" target="_blank">
							<span class="footermenu-text">Linkedin</span>
						</a>
					</li>
          <li class="footermenu-item" role="menuitem">
            <a class="footermenu-link" href="https://www.npmjs.com/~hemersonvianna" target="_blank">
              <span class="footermenu-text">NPM</span>
            </a>
          </li>
          <li class="footermenu-item" role="menuitem">
            <a class="footermenu-link" href="https://play.google.com/store/apps/developer?id=Hemerson+Vianna" target="_blank">
              <span class="footermenu-text">Google play</span>
            </a>
          </li>
          <li class="footermenu-item" role="menuitem">
            <a class="footermenu-link" href="http://jsfiddle.net/user/hemersonvianna/fiddles/" target="_blank">
              <span class="footermenu-text">JSFiddle</span>
            </a>
          </li>
          <li class="footermenu-item" role="menuitem">
            <a class="footermenu-link" href="http://codepen.io/hemersonvianna/pens/public/" target="_blank">
              <span class="footermenu-text">Codepen</span>
            </a>
          </li>
          <li class="footermenu-item" role="menuitem">
            <a class="footermenu-link" href="http://pt.slideshare.net/hemersonlourenco" target="_blank">
              <span class="footermenu-text">Slideshare</span>
            </a>
          </li>
          <li class="footermenu-item" role="menuitem">
            <a class="footermenu-link" href="https://www.flickr.com/photos/hemersonlourenco/" target="_blank">
              <span class="footermenu-text">Flick</span>
            </a>
          </li>
				</ul>
			</nav>
		</div><!-- /footer-links --> */%>

		<div class="footer-links">
			<h3 class="footer-links-title">Parceiros</h3>
			<div class="segment">
        <ul class="segment-list">
          <li class="segment-item">
            <a class="segment-link" href="http://imhomovies.com.br/" target="_blank">
              <strong class="segment-title imho_movies">IMHO Movies</strong>
              <span class="segment-description">Opiniões sobre filmes principalmente vistos nos cinemas</span>
            </a>
          </li>
          <li class="segment-item">
            <a class="segment-link" href="http://donotgiveup.com.br" target="_blank">
              <strong class="segment-title nihongo_benkyou">Don't give up</strong>
              <span class="segment-description">Estudos e conhecimentos sobre o idioma inglês</span>
            </a>
          </li>
          <li class="segment-item">
            <a class="segment-link" href="http://nihongobenkyou.com.br" target="_blank">
              <strong class="segment-title do_not_give_up">Nihongo Benkyou</strong>
              <span class="segment-description">Estudos e conhecimentos sobre o idioma japonês</span>
            </a>
          </li>
          <li class="segment-item">
            <a class="segment-link" href="http://saborinstintivo.com.br" target="_blank">
              <strong class="segment-title sabor_instintivo">Sabor instintivo</strong>
              <span class="segment-description">Receitas do dia a dia e invenções na cozinha</span>
            </a>
          </li>
        </ul>
      </div>
		</div><!-- /footer-links -->
	</div><!-- /footer-core -->
	<div class="footer-bottom">
	   <p>&copy; Copyright <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %></p>
	</div><!-- /footer-bottom -->
</footer><!-- /footer -->
