@import "../../../vendor/scss/03-base/_fonts";
@import "../../../vendor/scss/03-base/_page";
@import "../../../vendor/scss/03-base/_images";

// Page
html {
  line-height: $base-line-height;
  background-color: $base-background-color;
  color: $base-font-color;
  font-size: $base-font-size;
  overflow-y: scroll;
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: $base-font-family;
  font-size: inherit;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}

a {
  cursor: pointer;
  outline: none;
  text-decoration: none;
}

img {
  height: auto;
}
