<!-- Fora da Bolha #4 - article - 1 -->
<div class="adverts">
  <div class="advert">
    <ins class="adsbygoogle"
      style="display:block; text-align:center;"
      data-ad-layout="in-article"
      data-ad-format="fluid"
      data-ad-client="ca-pub-4681665694945876"
      data-ad-slot="9255040978"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
  </div>
</div>
