.jornadarelevante {
  background: $jornadarelevante-background;

  .header {
    background: $jornadarelevante-color-primary--dark;

    @media (min-width: $screen-desktop) {
      box-shadow: 0 4px 0 $jornadarelevante-color-primary--dark;
    }
  }

  .page-home .header {
    @media (min-width: $screen-desktop) {
      box-shadow: 0 4px 0 $jornadarelevante-color-primary--dark;
    }
  }

  .header-top {
    background: $jornadarelevante-color-primary--dark;
  }

  .header-bottom {
    background: $jornadarelevante-color-primary--dark;

    @media (min-width: $screen-desktop) {
      background: $color-white;
    }
  }

  .button-menu_main {
    color: $jornadarelevante-color-primary--dark;

    svg {
      fill: $jornadarelevante-color-primary--dark;
    }
  }

  .socialMenu-link {
    svg {
      fill: $jornadarelevante-color-primary--light;
    }
  }

  .card-title,
  .nc-card-title {
    color: $jornadarelevante-color-text;
  }

  .banner {
    background: $jornadarelevante-color-primary;
    svg {
      fill: $jornadarelevante-color-primary--dark;
    }
  }

  .banner-description {
    p {
      color: $jornadarelevante-color-primary--dark;
    }
  }

  .search {
    background: $jornadarelevante-color-rgba;
  }

  .page-title,
  .page-title--section,
  .page-subtitle,
  .page-subtitle-2,
  .page-subtitle--section,
  .page-subtitle--section-link {
    color: $jornadarelevante-color-text;
  }

  .mainMenu-link:hover {
    svg {
      fill: $jornadarelevante-color-primary--dark;
    }
  }

  .mainMenu-link.on {
    svg {
      fill: $jornadarelevante-color-primary--dark;
    }
  }

  .categories-link {
    color: $jornadarelevante-color-primary--dark;
  }

  .article-title {
    background: $jornadarelevante-color-primary--dark;
  }

  .article-content h2,
  .article-content h3,
  .article-content h4 {
    color: $jornadarelevante-color-primary--dark;
  }

  .author-description h3 {
    color: $jornadarelevante-color-primary--dark;
  }

  .search-button {
    path {
      fill: $jornadarelevante-color-primary--dark;
    }
  }

  .logotype-link {
    path {
      fill: $jornadarelevante-color-primary;

      @media (min-width: $screen-desktop) {
        fill: rgba(0,0,0,0.2);
      }
    }
  }

  .nc-cards--highlight {
    background: $jornadarelevante-color-primary--dark;
  }

  .nc-card {
    .nc-card-title {
      color: $jornadarelevante-color-primary--light;
    }

    .nc-card-link {
      background: $jornadarelevante-color-primary--dark;
      box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    }

    .nc-card-figure {
      background: $jornadarelevante-color-primary--dark;
      box-shadow: inset 42px 0 0 $jornadarelevante-color-primary,
        0 2px 1px rgba(0, 0, 0, 0.4);
    }

    .nc-card-thumbnail {
      box-shadow: inset 100px 0 0 $jornadarelevante-color-primary;
    }

    .nc-card-image {
      background: $jornadarelevante-color-primary--dark;
      box-shadow: 5px 4px 2px -4px rgba(0, 0, 0, 0.4);

      &:hover {
        background: $jornadarelevante-color-primary--light;
      }
    }

    .nc-card-readTime {
      background: $jornadarelevante-color-primary--dark;
    }

    .nc-card-date {
      color: $jornadarelevante-color-primary--light;
    }

    .nc-card-date-year {
      color: $jornadarelevante-color-primary;
    }
  }

  .breadcrumb,
  .banner-description,
  .header-bottom,
  .mainMenu,
  .search-button {
    background: $jornadarelevante-color-accent;
  }

  .breadcrumb-icon path {
    fill: $jornadarelevante-color-primary--dark;
  }

  .breadcrumb-item,
  .breadcrumb-link {
    color: $jornadarelevante-color-primary--dark;
  }

  .breadcrumb-link:hover {
    color: $jornadarelevante-color-primary--light;
  }

  .categories {
    background: $jornadarelevante-color-primary--dark;
  }

  .categories-link {
    background: $jornadarelevante-background;
    color: $jornadarelevante-color-primary--light;
    border-color: $jornadarelevante-background;
  }

  .categories-count {
    background: $jornadarelevante-color-primary--dark;
    color: $jornadarelevante-color-primary--light;
  }

  .categories-title,
  .categories-title-count {
    color: $jornadarelevante-color-primary--light;
  }

  .categories .text {
    color: $jornadarelevante-color-primary--light;
  }
}
