.saborinstintivo {
  background: $saborinstintivo-color-social;

  .header {
    background: $saborinstintivo-color-primary--dark;

    @media (min-width: $screen-desktop) {
      box-shadow: 0 4px 0 $saborinstintivo-color-primary--dark-plus;
    }
  }

  .page-home .header {
    @media (min-width: $screen-desktop) {
      box-shadow: 0 4px 0 $saborinstintivo-color-primary--dark-plus;
    }
  }

  .header-top {
    background: $saborinstintivo-color-primary--dark;
  }

  .header-bottom {
    background: $saborinstintivo-color-primary--dark;

    @media (min-width: $screen-desktop) {
      background: $color-white;
    }
  }

  .button-menu_main {
    color: $saborinstintivo-color-primary--dark;

    svg {
      fill: $saborinstintivo-color-primary--dark;
    }
  }

  .socialMenu-link {
    svg {
      fill: $saborinstintivo-color-social;
    }
  }

  .card-title,
  .nc-card-title {
    color: $saborinstintivo-color-article-title;
  }

  .banner {
    background: $saborinstintivo-color-primary;
    svg {
      fill: $saborinstintivo-color-primary--dark-plus;
    }
  }

  .banner-description {
    p {
      color: $saborinstintivo-color-primary--dark-plus;
    }
  }

  .search {
    background: $saborinstintivo-color-rgba;
  }

  .page-title,
  .page-title--section,
  .page-subtitle,
  .page-subtitle-2,
  .page-subtitle--section,
  .page-subtitle--section-link {
    color: $saborinstintivo-color-article-title;
  }

  .mainMenu-link:hover {
    svg {
      fill: $saborinstintivo-color-primary--dark;
    }
  }

  .mainMenu-link.on {
    svg {
      fill: $saborinstintivo-color-primary--dark;
    }
  }

  .categories-link {
    color: $saborinstintivo-color-primary--dark;
  }

  .article-title,
  .article-content h2,
  .article-content h3,
  .article-content h4 {
    color: $saborinstintivo-color-primary--dark;
  }

  .author-description h3 {
    color: $saborinstintivo-color-primary--dark;
  }

  .search-button {
    path {
      fill: $saborinstintivo-color-primary--dark-plus;
    }
  }

  .logotype-link {
    path {
      fill: $saborinstintivo-color-primary;

      @media (min-width: $screen-desktop) {
        fill: #ececec;
      }
    }
  }

  .nc-cards--highlight {
    background: $saborinstintivo-color-primary--dark-plus;
  }

  .nc-card {
    .nc-card-title {
      color: $saborinstintivo-color-social;
    }

    .nc-card-link {
      background: $saborinstintivo-color-primary--dark-plus;
      box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    }

    .nc-card-figure {
      background: $saborinstintivo-color-primary--dark-plus;
      box-shadow: inset 42px 0 0 $saborinstintivo-color-primary--dark,
        0 2px 1px rgba(0, 0, 0, 0.4);
    }

    .nc-card-thumbnail {
      box-shadow: inset 100px 0 0 $saborinstintivo-color-primary--dark;
    }

    .nc-card-image {
      background: $saborinstintivo-color-primary--dark-plus;
      box-shadow: 5px 4px 2px -4px rgba(0, 0, 0, 0.4);

      &:hover {
        background: $saborinstintivo-color-social;
      }
    }

    .nc-card-readTime {
      background: $saborinstintivo-color-primary--dark-plus;
    }

    .nc-card-date {
      color: $saborinstintivo-color-social;
    }

    .nc-card-date-year {
      color: $saborinstintivo-color-primary;
    }
  }

  .breadcrumb-icon path {
    fill: $saborinstintivo-color-primary--dark-plus;
  }

  .breadcrumb-item,
  .breadcrumb-link {
    color: $saborinstintivo-color-primary--dark-plus;
  }

  .categories {
    background: $saborinstintivo-color-primary--dark-plus;
    border-color: $saborinstintivo-color-social;
  }

  .categories-link {
    background: $saborinstintivo-color-social;
    border-color: $saborinstintivo-color-social;
  }

  .categories-count {
    background: $saborinstintivo-color-primary--dark-plus;
    color: $saborinstintivo-color-social;
  }

  .categories-title,
  .categories-title-count {
    color: $saborinstintivo-color-social;
  }

  .categories .text {
    color: $saborinstintivo-color-social;
  }
}
