.zamenhof {
  .header {
    background: $zamenhof-color-primary--dark;

    @media (min-width: $screen-desktop) {
      box-shadow: 0 4px 0 $zamenhof-color-primary--dark-plus;
    }
  }

  .page-home .header {
    @media (min-width: $screen-desktop) {
      box-shadow: 0 4px 0 $zamenhof-color-primary--dark-plus;
    }
  }

  .header-top {
    background: $zamenhof-color-primary--dark;
  }

  .header-bottom {
    background: $zamenhof-color-primary--dark;

    @media (min-width: $screen-desktop) {
      background: $color-white;
    }
  }

  .button-menu_main {
    color: $zamenhof-color-primary--dark;

    svg {
      fill: $zamenhof-color-primary--dark;
    }
  }

  .socialMenu-link {
    svg {
      fill: $zamenhof-color-social;
    }
  }

  .card-title,
  .nc-card-title {
    color: $zamenhof-color-article-title;
  }

  .banner {
    svg {
      fill: $zamenhof-color-primary--dark-plus;
    }
  }

  .banner-description {
    p {
      color: $zamenhof-color-primary--dark-plus;
    }
  }

  .search {
    background: $zamenhof-color-rgba;
  }

  .page-title,
  .page-title--section,
  .page-subtitle,
  .page-subtitle-2,
  .page-subtitle--section,
  .page-subtitle--section-link {
    color: $zamenhof-color-article-title;
  }

  .mainMenu-link:hover {
    svg {
      fill: $zamenhof-color-primary--dark;
    }
  }

  .mainMenu-link.on {
    svg {
      fill: $zamenhof-color-primary--dark;
    }
  }

  .categories-link {
    color: $zamenhof-color-primary--dark;
  }

  .article-title,
  .article-content h2,
  .article-content h3,
  .article-content h4 {
    color: $zamenhof-color-primary--dark;
  }

  .author-description h3 {
    color: $zamenhof-color-primary--dark;
  }

  .search-button {
    path {
      fill: $zamenhof-color-primary--dark-plus;
    }
  }

  .logotype-link {
    path {
      fill: $zamenhof-color-primary;

      @media (min-width: $screen-desktop) {
        fill: #ececec;
      }
    }
  }

  .nc-cards--highlight {
    background: $zamenhof-color-primary--dark-plus;
  }

  .adverts {
    background: $zamenhof-color-article-title;
  }
}
