.albums-list {
  margin-left: -10px;
  margin-right: -10px;

  ul {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
  }

  li {
    @include x-column(12);

    list-style: none;
    margin-bottom: 10px;

    @media(min-width:$screen-desktop) {
      width: x-gridsystem-width(4);
    }

    a {
      box-shadow: 0 1px 2px 0 #000;
      border-radius: 4px;
      display: flex;
      flex-direction: row;
      padding: 5px;

      img {
        border-radius: 4px;
        display: inline-block;
        height: 50px;
        margin: 0;
        margin-right: 10px;
        width: 50px;
      }

      em {
        @include x-rem-fallback(font-size,1.5);

        font-style: normal;
        line-height: 1;

        strong {
          @include x-rem-fallback(font-size,1.2);

          color: $color-typography;
          display: block;
          line-height: 1;
          margin-top: 2px;
        }
      }
    }
  }
}

.spotify {
  background: #000;
  height: 200px;
  margin-bottom: 10px;
  max-width: 100%;
}
