.organizations-list {
  margin-left: -10px;
  margin-right: -10px;
  padding: 0.5em 0;

  @media (min-width: $screen-desktop) {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
  }
}

.organizations-link {
  box-shadow: 0 1px 2px 0 #000;
  border-radius: 4px;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  width: 100%;

  @media (min-width: $screen-desktop) {
    align-items: center;
    display: flex;
    min-height: 134px;
  }
}

.organizations-item {
  float: left;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 0%;
  margin-bottom: 2rem;
  font-size: 17px;
  font-size: 1.7rem;
  display: block;

  .organizations-item {
    .organizations-link {
      @media (min-width: $screen-desktop) {
        min-height: 85px;
      }
    }
  }

  @media (min-width: $screen-desktop) {
    width: x-gridsystem-width(4);
  }
}

.organizations-title {
  font-size: 20px;
  font-size: 2rem;
  color: $color-accent;
  display: block;
  font-weight: 700;
}

.organizations-description {
  font-size: 17px;
  font-size: 1.7rem;
  color: $color-typography;
  display: block;
}

.organizations-figure {
  float: left;

  @media (min-width: $screen-desktop) {
    float: inherit;
  }
}

.organizations-image {
  margin-right: 10px;
  max-width: 100px;
}

.organizations-item--full {
  @media (min-width: $screen-desktop) {
    width: x-gridsystem-width(12);
  }
}
