.articles {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-left: -10px;
  margin-right: -10px;
}

.box--article {
  @include x-column(12);
  display: none;
  float: none;
  margin-bottom: 2em;
  padding-top: 1em;

  @media(min-width:$screen-tablet-portrait) {
    width: x-gridsystem-width(6);
  }

  @media(min-width:$screen-desktop) {
    width: x-gridsystem-width(4);
  }
}

.home_articles .box--article { display: block; }

.box--article-content {
  box-shadow: 1px 2px 5px #ddd;
  display: block;
  padding: 20px 10px 10px;
  padding-bottom: 40px;
  position: relative;

  @media(min-width:$screen-tablet-portrait) {
    min-height: 200px;
    padding-bottom: 10px;
  }
}

.box--article-header {
  @include x-rem-fallback(font-size,$font-size-small);
  border-bottom: 1px solid $base-background-color;
  box-shadow: 0 1px 0 $color-secundary--light;
  display: block;
  padding: 0.2em 0.5em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.box--article-date {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: baseline;
  color: $color-typography--gray_light;
  font-size: 14px;
  font-weight: 700;
  padding: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
  text-shadow: 0 0 2px $base-background-color;
  width: 100%;
}

.box--article-date-read {
  display: block;
  font-weight: 400;
  font-size: 12px;
}

.box--article-category {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-transform: uppercase;
}

.box--article-category-link {
  @extend %link;
  display: flex;
}

.box--article-title {
  @include x-rem-fallback( font-size, 2.2);
  color: #113a4e;
  display: table;
  font-weight: 800;
  margin-bottom: 5px;
  padding: 10px 0;
  margin-top: 12px;
  width: 100%;
}

.box--article-link {
  text-decoration: none;
  &:hover { text-decoration: none; }
}

.box--article-description {
  @include x-clearfix;
  @include x-rem-fallback(font-size,$font-size-small);
  color: $color-typography;
  display: block;
}

.articles-count {
  font-size: 14px;
}

.page-articles,
.page-languages {
  .box--article-content {
    padding: 10px;

    @media(min-width:$screen-tablet-portrait) {
      min-height: 160px;
    }
  }

  .box--article-title {
    margin-top: 0;
    padding: 0;
  }
}


.box--article-category {
  padding-left: 17px;

  &:before {
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: left top;
    content: "";
    display: inline-block;
    height: 18px;
    position: absolute;
    left: 4px;
    top: 4px;
    width: 18px;
  }
}
