.article {
  position: relative;
  width: 100%;
}

.article-title {
  @include x-rem-fallback( font-size, $font-size-xxx-large);
  color: $color-typography--dark;
  display: table;
  font-weight: 800;
  margin-top: 12px;
  width: 100%;
}

.article-title--flag:before {
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: left top;
  content: "";
  display: inline-block;
  height: 24px;
  margin-right: 5px;
  width: 24px;
}

.article-meta {
  @include x-rem-fallback(font-size,$font-size-small);
  @include x-rem-fallback(margin-top,1);
  @include x-rem-fallback(margin-bottom,2);

  color: #9a9c9c;
  line-height: $font-line-height-regular;
}

.article-meta-date {
  color: #ccc8d4;
  text-transform: lowercase;
}

.article-meta-read {
  @include x-rem-fallback(font-size,1.4);

  color: #ccc8d4;
}

.article-content {
  @include x-rem-fallback(font-size,$font-size-regular);
  color: $color-typography;
  line-height: $font-line-height-regular;
  margin-bottom: 0.5em;
  margin-top: 1rem;
}

.article-content {
  h2 {
    @include x-rem-fallback(font-size, $font-size-xx-large);
    color: $color-typography--dark;
    font-weight: 800;
    line-height: 1.4;
  }

  h3 {
    @include x-rem-fallback(font-size, $font-size-large);
    color: $color-typography--dark;
    font-weight: 800;
    line-height: 1.4;
  }

  h4 {
    @include x-rem-fallback(font-size, $font-size-regular);
    color: $color-typography--dark;
    font-weight: 800;
    line-height: 1.4;
  }

  blockquote {
    border-left: 5px solid $color-secundary--light;
    color: #a4a5a8;
    font-size: 1em;
    font-family: "Georgia",serif;
    margin: 0 0 20px;
    padding: 10px 20px;
  }

  blockquote cite,
  blockquote small {
    display: block;
    font-size: 80%;
    line-height: 1.42857143;
    color: $color-secundary;
  }

  blockquote ol { padding: 10px; }

  blockquote ol li {
    font-size: 0.8em;
    margin-bottom: 15px;
  }

  strong { font-weight: 700; }

  a { @extend %link; }

  hr {
    border: 0;
    border-bottom: 1px solid $color-secundary--light;
    clear: both;
    height: 0;
    margin: 20px 0;
    overflow: hidden;
  }

  p,
  blockquote,
  ul,
  ol,
  dl,
  table,
  iframe
  { @include x-rem-fallback( margin-bottom, 2); }

  table {
    background-color: $color-secundary--light;
    display: block;
    width: 100%;
    overflow: auto;
    word-break: keep-all;
  }

  tr { background-color: $color-secundary--light; }

  th,
  td {
    padding: 6px 13px;
    border: 1px solid $color-secundary--light;
  }

  th { font-weight: bold; }

  p {
    line-height: 1.4;

    @media(min-width:$screen-desktop) {
      text-align: justify;
    }
  }

  h2 code,
  p code,
  li code {
    background: $color-secundary--light;
    border-radius: 4px;
    color: $color-typography;
    padding: 0 5px;
  }

  h2 code {
    @include x-rem-fallback( font-size, 2);
    font-weight: 400;
  }

  li {
    margin-bottom: 5px;

    & li {
      padding-left: 25px;
    }
  }
}

// load more
.js-load_more-item,
.page-articles .js-load_more-item,
.page-category  .js-load_more-item {
  display: none;
}

// Author
.author {
  align-items: center;
  background: #fbfbfb;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px -10px;
  padding: 10px;

  @media(min-width:$screen-tablet-portrait) {
    margin: 20px 0;
    padding: 20px 10px;
  }
}

.author-image {
  border-radius: 4px;
  overflow: hidden;

  img {
    display: inline-block;
  }
}

.author-description {
  @include x-rem-fallback(font-size, $font-size-small);

  align-items: center;
  margin-left: 10px;

  @media(min-width:$screen-tablet-portrait) {
    @include x-rem-fallback(font-size, $font-size-regular);
  }

  h3 {
    @include x-rem-fallback(font-size, $font-size-large);

    color: $color-primary--dark;
    font-weight: 700;
    margin-bottom: 10px;

    @media(min-width:$screen-tablet-portrait) {
      @include x-rem-fallback(font-size, $font-size-x-large);
    }
  }

  a {
    color: $color-typography--link_dark;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
