.article {
  position: relative;
  width: 100%;
}

.article-header {
  margin-left: calc(-50vw + 50%);
  min-width: 100vw;
  padding: 5px 0;
  width: 100vw;
}

.article-title {
  @include x-rem-fallback(font-size, $font-size-xxx-large);
  color: #fff;
  line-height: 1;
  font-weight: 800;
  margin-top: 12px;
  padding: 10px;
  width: 100%;

  @media (min-width: $screen-tablet-portrait) {
    padding: 20px 30px;
    text-align: center;
  }
}

.article-title--flag:before {
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: left top;
  content: "";
  display: inline-block;
  height: 24px;
  margin-right: 5px;
  width: 24px;
}

.article-meta {
  @include x-rem-fallback(font-size, $font-size-small);
  @include x-rem-fallback(margin-top, 1);
  @include x-rem-fallback(margin-bottom, 2);

  background: rgba(0, 0, 0, 0.4);
  border-radius: 4px 4px 0 0;
  color: rgba(255, 255, 255, 0.2);
  padding: 10px;
  line-height: $font-line-height-regular;

  @media (min-width: $screen-tablet-portrait) {
    width: 728px;
    margin: 0 auto;
  }
}

.article-meta-date {
  color: rgba(255, 255, 255, 0.4);
  text-transform: lowercase;
}

.article-meta-read {
  @include x-rem-fallback(font-size, 1.4);

  color: rgba(255, 255, 255, 0.4);
}

.article-content {
  @include x-rem-fallback(font-size, $font-size-regular);
  color: $color-typography;
  line-height: $font-line-height-regular;
  margin-bottom: 0.5em;
  margin-top: 1rem;
}

.article-content {
  h2 {
    @include x-rem-fallback(font-size, $font-size-xx-large);
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 10px;
  }

  h3 {
    @include x-rem-fallback(font-size, $font-size-large);
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 10px;
  }

  h4 {
    @include x-rem-fallback(font-size, $font-size-regular);
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 10px;
  }

  blockquote {
    border-left: 5px solid rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.4);
    font-size: 1em;
    font-family: "Georgia", serif;
    margin: 0 0 20px;
    padding: 10px 20px;
  }

  blockquote cite,
  blockquote small {
    display: block;
    font-size: 80%;
    line-height: 1.42857143;
    color: $color-secundary;
  }

  blockquote ol {
    padding: 10px;
  }

  blockquote ol li {
    font-size: 0.8em;
    margin-bottom: 15px;
  }

  blockquote ul li,
  blockquote ul li p {
    margin-bottom: 5px;
    margin-bottom: 0.5rem;
    font-size: 17px;
    font-size: 1.7rem;
    list-style: none;
  }

  strong {
    font-weight: 700;
  }

  a {
    @extend %link;
  }

  hr {
    border: 0;
    border-bottom: 1px solid $color-secundary--light;
    clear: both;
    height: 0;
    margin: 20px 0;
    overflow: hidden;
  }

  p,
  blockquote,
  ul,
  ol,
  dl,
  table,
  iframe {
    @include x-rem-fallback(margin-bottom, 2);
  }

  table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: keep-all;
  }

  tr {
    background-color: none;
  }

  th,
  td {
    padding: 6px 13px;
    border: 1px solid rgba(0, 0, 0, 0.4);
  }

  th {
    font-weight: bold;
  }

  p {
    line-height: 1.4;

    @media (min-width: $screen-desktop) {
      text-align: justify;
    }
  }

  h2 code,
  p code,
  li code {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 4px;
    color: $color-typography;
    padding: 0 5px;
  }

  h2 code {
    @include x-rem-fallback(font-size, 2);
    font-weight: 400;
  }

  li {
    margin-bottom: 5px;

    & li {
      padding-left: 25px;
    }
  }
}

.article-content-image_large {
  border: 4px solid #fff;
  box-shadow: 0 0 2px #ddd;
  margin-bottom: 10px;
}

.sonusetrhythmus .article-content blockquote {
  border: 2px solid #ececec;
  border-radius: 4px;
  color: #a4a5a8;
  font-size: 1em;
  height: 300px;
  margin: 0 0 20px;
  overflow: scroll;
  padding: 10px;
}

// load more
.js-load_more-item,
.page-articles .js-load_more-item,
.page-category .js-load_more-item {
  display: none;
}

// Author
.author {
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  box-shadow: inset 0 0 4px 0px #000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px -10px;
  padding: 10px;

  @media (min-width: $screen-tablet-portrait) {
    margin: 20px 0;
    padding: 20px 10px;
  }
}

.author-image {
  border-radius: 4px;
  overflow: hidden;

  img {
    display: inline-block;
  }
}

.author-description {
  @include x-rem-fallback(font-size, $font-size-small);

  align-items: center;
  margin-left: 10px;

  @media (min-width: $screen-tablet-portrait) {
    @include x-rem-fallback(font-size, $font-size-regular);
  }

  h3 {
    @include x-rem-fallback(font-size, $font-size-large);

    font-weight: 700;
    margin-bottom: 10px;

    @media (min-width: $screen-tablet-portrait) {
      @include x-rem-fallback(font-size, $font-size-x-large);
    }
  }

  a {
    color: $color-typography--link_dark;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

// lightbox
.article-content a.lightbox {
  display: none;

  position: fixed;
  z-index: 10000;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  cursor: pointer;
}

.article-content a.lightbox img {
  width: auto;
  height: auto;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.article-content a.lightbox:target {
  outline: none;
  display: block;
}
