.articles {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-left: -10px;
  margin-right: -10px;
}

.box--article {
  @include x-column(12);
  display: none;
  float: none;
  margin-bottom: 2em;
  padding-top: 1em;

  @media(min-width:$screen-tablet-portrait) {
    width: x-gridsystem-width(6);
  }

  @media(min-width:$screen-desktop) {
    width: x-gridsystem-width(4);
  }
}

.home_articles .box--article { display: block; }

img.lazy { background: #f1f1fa url(/imhomovies/assets/img/site/global/loading.gif) no-repeat center center; }

.box--article-content {
  box-shadow: 0 1px 2px 0 #ccc;
  border-radius: 4px;
  display: block;
  padding: 0 10px 10px;
  padding-bottom: 30px;
  position: relative;

  @media(min-width:$screen-tablet-portrait) {
    padding-bottom: 0;
    min-height: 210px;
  }
}

.box--article-header {
  @include x-rem-fallback(font-size,$font-size-small);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.box--article-date {
  color: $color-typography--gray_light;
  font-size: 14px;
  font-weight: 700;
  padding: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
  text-shadow: 0 0 2px $base-background-color;
}

.box--article-read {
  background: rgba(0,0,0,0.8);
  border-radius: 4px 0 0 0;
  color: $color-white;
  display: block;
  font-weight: 400;
  font-size: 12px;
  position: absolute;
  bottom: -0;
  right: 0;
  padding: 2px 5px;
  text-shadow: 0 0 0 #000;
}

.box--article-category {
  display: inline-block;
  position: absolute;
  bottom: 10px;
  left: 10px;
  text-transform: uppercase;
}

.box--article-category-link {
  @extend %link;
  display: inline-block;
}

.box--article-title {
  @include x-rem-fallback( font-size, 2.2);
  display: table;
  font-weight: 800;
  margin-bottom: 5px;
  padding: 10px 0;
  width: 100%;
}

.box--article-link {
  text-decoration: none;
  &:hover { text-decoration: none; }
}

.box--article-description {
  @include x-clearfix;
  @include x-rem-fallback(font-size,$font-size-small);
  color: $color-typography;
  display: block;
}

.box--article-figure {
  border-radius: 4px 4px 0 0;
  margin-left: -10px;
  margin-right: -10px;
  overflow: hidden;
  position: relative;
}

.box--article-image {
  display: inline-block;
  height: 110px;
  width: 100%;
}
