.article {
  position: relative;
  width: 100%;
}

.page-article .article {
  @media(min-width:$screen-desktop) {
    margin: 0 auto;
    max-width: 728px;
  }
}

.article-title {
  @include x-rem-fallback( font-size, $font-size-xxx-large);
  color: $color-typography--dark;
  display: table;
  font-weight: 800;
  width: 100%;

  @media(min-width:$screen-tablet-portrait) {
    margin-top: 12px;
  }
}

.article-meta {
  @include x-rem-fallback(font-size,$font-size-small);
  @include x-rem-fallback(margin-top,1);
  @include x-rem-fallback(margin-bottom,2);

  color: #9a9c9c;
  line-height: $font-line-height-regular;
}

.article-meta-date {
  color: #ccc8d4;
  text-transform: lowercase;
}

.article-meta-read {
  @include x-rem-fallback(font-size,1.4);

  color: #ccc8d4;
}

.article-content {
  @include x-rem-fallback(font-size,$font-size-regular);
  color: $color-typography;
  line-height: $font-line-height-regular;
  margin-bottom: 0.5em;
  margin-top: 1rem;
}

.article-content-image_large {
  border: 4px solid #fff;
  box-shadow: 0px 2px 3px rgb(194, 187, 187);
  margin-bottom: 20px;
}

.article-content {
  h2 {
    @include x-rem-fallback(font-size, $font-size-xx-large);
    color: $color-typography--dark;
    font-weight: 800;
    line-height: 1.4;
  }

  h3 {
    @include x-rem-fallback(font-size, $font-size-x-large);
    color: $color-typography--dark;
    font-weight: 800;
    line-height: 1.4;
  }

  blockquote {
    border-left: 5px solid $color-secundary--light;
    color: #a4a5a8;
    font-size: 1em;
    font-family: "Georgia",serif;
    margin: 0 0 20px;
    padding: 10px 20px;
  }

  blockquote cite,
  blockquote small {
    display: block;
    font-size: 80%;
    line-height: 1.42857143;
    color: $color-secundary;
  }

  blockquote ol { padding: 10px; }

  blockquote ol li {
    font-size: 0.8em;
    margin-bottom: 15px;
  }

  strong { font-weight: 700; }

  a { @extend %link; }

  hr {
    border: 0;
    border-bottom: 1px solid $color-secundary--light;
    clear: both;
    height: 0;
    margin: 20px 0;
    overflow: hidden;
  }

  p,
  blockquote,
  ul,
  ol,
  dl,
  table,
  iframe,
  h2,
  h3,
  h4,
  h5,
  h6 { @include x-rem-fallback( margin-bottom, 2); }

  table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: keep-all;
  }

  tr { background-color: $color-secundary--light; }

  th,
  td {
    padding: 6px 13px;
    border: 1px solid $color-secundary--light;
  }

  th { font-weight: bold; }

  p {
    line-height: 1.4;

    @media(min-width:$screen-desktop) {
      text-align: justify;
    }
  }

  p code {
    background: $color-secundary--light;
    border-radius: 4px;
    color: $color-typography;
    padding: 0 5px;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.wraper_description {
  @include x-clearfix;

  margin-bottom: 10px;

  @media(min-width:$screen-desktop) {
    @include x-rem-fallback(font-size,1.9);

    display: flex;
    flex-direction: row;
    line-height: 1.2;
  }
}

.video-container {
  @include x-rem-fallback(margin-bottom,3);

  background: #ddd;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;

  @media(min-width:$screen-desktop) {
    margin-right: 10px;
    min-width: 50%;
    padding-bottom: 25%;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}

.youtube {
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
}
.youtube img {
  opacity: 0.7;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.youtube .play-button {
  width: 90px;
  height: 60px;
  background-color: #333;
  box-shadow: 0 0 30px rgba( 0,0,0,0.6 );
  z-index: 1;
  opacity: 0.8;
  border-radius: 6px;
}
.youtube .play-button:before {
  content: "";
  border-style: solid;
  border-width: 15px 0 15px 26.0px;
  border-color: transparent transparent transparent #fff;
}

.youtube img,
.youtube .play-button {
  cursor: pointer;
}
.youtube .play-button,
.youtube .play-button:before {
  position: absolute;
}
.youtube .play-button,
.youtube .play-button:before {
  top: 50%;
  left: 50%;
  transform: translate3d( -50%, -50%, 0 );
}

.article-content li {
  @include x-rem-fallback(margin-bottom,0.7);
  list-style-position: inside;
  list-style-type: circle;
}

.article-content .wraper_description li,
.article-content blockquote li {
  list-style: none;
  margin-bottom: 0.2rem;
}

// load more
.js-load_more-item,
.page-articles .js-load_more-item,
.page-category  .js-load_more-item {
  display: none;
}

.actors-list {
  margin-left: -10px;
  margin-right: -10px;

  ul {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
  }

  li {
    @include x-column(12);

    list-style: none;
    margin-bottom: 10px;

    @media(min-width:$screen-desktop) {
      width: x-gridsystem-width(4);
    }

    a {
      box-shadow: 0 1px 2px 0 #ccc;
      border-radius: 4px;
      display: flex;
      flex-direction: row;
      padding: 10px;

      img {
        border-radius: 4px;
        display: inline-block;
        height: 50px;
        margin: 0;
        margin-right: 10px;
        width: 50px;
      }

      em {
        @include x-rem-fallback(font-size,1.7);

        font-style: normal;

        strong {
          @include x-rem-fallback(font-size,1.2);

          color: #5a6772;
          display: block;
          line-height: 1;
        }
      }
    }
  }
}

// Author
.author {
  align-items: center;
  background: #fbfbfb;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px -10px;
  padding: 10px;

  @media(min-width:$screen-tablet-portrait) {
    margin: 20px 0;
    padding: 20px 10px;
  }
}

.author-image {
  border-radius: 4px;
  overflow: hidden;

  img {
    display: inline-block;
  }
}

.author-description {
  @include x-rem-fallback(font-size, $font-size-small);

  align-items: center;
  margin-left: 10px;

  @media(min-width:$screen-tablet-portrait) {
    @include x-rem-fallback(font-size, $font-size-regular);
  }

  h3 {
    @include x-rem-fallback(font-size, $font-size-large);

    color: $color-primary--dark;
    font-weight: 700;
    margin-bottom: 10px;

    @media(min-width:$screen-tablet-portrait) {
      @include x-rem-fallback(font-size, $font-size-x-large);
    }
  }

  a {
    color: $color-typography--link_dark;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
