// Breadcrumb
.breadcrumb {
  border-radius: 1rem;
  display: block;
  margin: 0 0 10px;
  opacity: 0.4;
  padding: 0 10px;
  width: 100%;

  @media (min-width: $screen-desktop) {
    margin: 10px 0;
  }

  &:hover {
    opacity: 1;
  }
}

.breadcrumb-title {
  @include x-rem-fallback(font-size, $font-size-small);
  display: inline-block;
  line-height: $font-line-height-small;
  margin-right: 0.5em;
}

.breadcrumb-list {
  display: flex;
  flex-direction: row;
  flex-flow: wrap row;
}

.breadcrumb-item {
  @include x-rem-fallback(font-size, $font-size-small);
  align-items: center;
  display: flex;
  color: rgba(0, 0, 0, 0.4);
  font-weight: 400;
  line-height: $font-line-height-small;
}

.breadcrumb-link {
  @include x-rem-fallback(font-size, $font-size-small);
  color: rgba(0, 0, 0, 0.6);
  display: inline-block;
  font-weight: 700;
  line-height: $font-line-height-small;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.breadcrumb-icon {
  margin: 0 5px;
  width: 8px;

  path {
    fill: #afb8bf;
  }
}
