// Breadcrumb
.breadcrumb {
  display: none;

  @media(min-width:$screen-tablet-portrait) {
    border: 1px solid #f3f7f4;
    border-radius: 1rem;
    display: block;
    margin-bottom: 2em;
    padding: 0.2em 2em;
    padding-right: 80px;
    width: 100%;
  }
}

.breadcrumb-title {
  @include x-rem-fallback(font-size,$font-size-small);
  display: inline-block;
  line-height: $font-line-height-small;
  margin-right: 0.5em;
}

.breadcrumb-list {@include x-clearfix;}
.breadcrumb-item {
  @include x-rem-fallback(font-size,$font-size-small);
  color: #5a6772;
  float: left;
  font-weight: 400;
  line-height: $font-line-height-small;
  text-transform: capitalize;
}

.breadcrumb-link {
  @include x-rem-fallback(font-size,$font-size-small);
  color: #5a6772;
  display: inline-block;
  font-weight: 700;
  line-height: $font-line-height-small;
  text-decoration: none;
  text-transform: capitalize;

  &:hover {text-decoration: underline;}
}

.breadcrumb-icon {
  margin-right: 5px;
  path {fill: #afb8bf; }
}
