.nc-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-left: -10px;
  margin-right: -10px;
}

.nc-card {
  @include x-column(12);
  display: none;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2em;
  padding-top: 1em;
  position: relative;

  @media (min-width: $screen-tablet-portrait) {
    width: x-gridsystem-width(6);
  }

  @media (min-width: $screen-desktop) {
    width: x-gridsystem-width(4);
  }
}

.nc-cards--highlight .nc-card {
  margin-bottom: 10px;
}

.page-home .nc-card {
  display: flex;
}

.nc-card-link {
  background: #fff;
  box-shadow: 0 2px 1px #f3f3f3;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 10px;
  position: relative;
  transition: transform 100ms ease-in-out;
  text-decoration: none;
  width: 100%;

  &:hover {
    @media (min-width: $screen-desktop) {
      box-shadow: 0 0 0px 5000px rgba(0, 0, 0, 0.4),
        0 0 8px 2px rgba(0, 0, 0, 0.4);
      overflow: hidden;
      transform: scale(1.02);
      transition: transform 100ms ease-in-out;
      text-decoration: none;
      z-index: 2;
    }
  }
}

.nc-card-figure {
  align-items: flex-end;
  background: #fff;
  box-shadow: inset 42px 0 0 #fbfbfb, 0 2px 1px #f3f3f3;
  display: flex;
  min-height: 110px;
  padding: 0 2px 0 10px;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: flex-start;
}

.nc-card-image {
  background: #ffffff;
  border-radius: 50% 50% 50% 0;
  font-size: 0;
  padding: 5px;
  position: absolute;
  bottom: 60px;
  margin-left: -10px;
  box-shadow: 5px 4px 2px -4px #efeded;

  &:hover {
    box-shadow: 5px 4px 2px -4px #efeded, inset 0 0 15px #efeded;
  }

  svg {
    height: 20px;
    min-width: 20px;
    width: 20px;
  }

  &:first-child {
    padding: 10px;
    position: relative;
    bottom: inherit;

    svg {
      height: 40px;
      min-width: 40px;
      width: 40px;
    }
  }
}

.nc-card-description {
  @include x-rem-fallback(font-size, 1.2);
  color: #c3c3c3;
  padding: 10px 10px 0 0;
  width: 100%;
}

.nc-card-title {
  @include x-rem-fallback(font-size, 2.2);
  display: table;
  font-weight: 800;
  line-height: 1;
  width: 100%;
}

.nc-card-category {
  color: #fff;
  font-size: 14px;
  border: 1px solid #333;
  display: inline-block;
  padding: 2px 4px;
  border-radius: 4px;
  position: absolute;
  top: 15px;
  z-index: 1;
  background: #000;
  left: 15px;
  max-width: 75px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  &:hover {
    box-shadow: inset 0 0 5px #ccc;
    max-width: inherit;
  }
}

.nc-card-readTime {
  @include x-rem-fallback(font-size, 1.2);
  background: #fff;
  border-radius: 0 4px 0 4px;
  color: #c3c3c3;
  display: block;
  font-weight: 400;
  padding: 5px 0;
}

.nc-card-date {
  display: flex;
  align-items: flex-end;
  color: $color-typography--gray_light;
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  bottom: 0;
  right: 10px;
  border-radius: 4px;
  overflow: hidden;
  text-align: right;
}

.nc-card-date-year {
  @include x-rem-fallback(font-size, 4);
  color: #eaeaea;
  display: inline-block;
  line-height: 1;
  margin-bottom: -10px;
}

.nc-card-body {
  display: flex;
  flex-direction: row;
}

.nc-card-thumbnail {
  box-shadow: inset 100px 0 0 #fbfbfb;
  padding-left: 42px;

  &:hover .nc-card-thumbnail-image {
    transform: scale(1.5);
  }
}

.nc-card-thumbnail-figure {
  overflow: hidden;
}

.nc-card-thumbnail-image {
  box-shadow: 0 3px 3px #ccc;
  transition: all 0.5s ease-in-out;
}
