.cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-left: -10px;
  margin-right: -10px;
}

.card {
  @include x-column(12);
  display: none;
  float: none;
  margin-bottom: 2em;
  padding-top: 1em;
  position: relative;

  @media (min-width: $screen-tablet-portrait) {
    width: x-gridsystem-width(6);
  }

  @media (min-width: $screen-desktop) {
    width: x-gridsystem-width(4);
  }
}

.page-home .card {
  display: block;
}

.card-content {
  box-shadow: 1px 2px 5px #ddd;
  border-radius: 4px;
  display: block;
  padding: 10px;
  padding-bottom: 40px;
  position: relative;

  @media (min-width: $screen-tablet-portrait) {
    min-height: 140px;
  }
}

.card-content--mdHeight {
  @media (min-width: $screen-tablet-portrait) {
    min-height: 170px;
  }
}

.card-content--lgHeight {
  @media (min-width: $screen-tablet-portrait) {
    min-height: 200px;
  }
}

.card-content--full {
  @extend .card-content;

  padding: 0;
  padding-bottom: 40px;

  .card-title {
    padding: 10px;
    padding-bottom: 0;
  }
}

.card-header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  width: 100%;

  &--inline {
    padding: 0;
    padding-bottom: 10px;
  }
}

.card-footer {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  &--inline {
    padding: 0;
    padding-bottom: 10px;
  }
}

.card-date {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: baseline;
  color: $color-typography--gray_light;
  font-size: 14px;
  font-weight: 700;
  text-align: right;
  text-shadow: 0 0 2px $base-background-color;
}

.card-readTime {
  background: #fff;
  border-radius: 0 4px 0 4px;
  color: #c3c3c3;
  display: block;
  font-weight: 400;
  font-size: 12px;
  padding: 2px 5px;
}

.card-readTime--image {
  @extend .card-readTime;

  background: rgba(0, 0, 0, 0.8);
  border-radius: 4px 0 0 0;
  color: #fff;
  position: absolute;
  bottom: 0;
  right: 0;
}

.card-readTime--top {
  @extend .card-readTime;

  position: absolute;
  top: -16px;
  right: 0;
}

.card-category {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-transform: uppercase;
}

.card-category--flag {
  .card-category-link:first-child {
    &:before {
      background-size: 100% auto;
      background-repeat: no-repeat;
      background-position: left top;
      content: "";
      display: inline-block;
      height: 18px;
      margin-right: 5px;
      width: 18px;
    }
  }
}

.card-category--block {
  width: 100%;
}

.card-category-link {
  @extend %link;
  @include x-rem-fallback(font-size, 1.7);

  display: flex;
}

.card-title {
  @include x-rem-fallback(font-size, 2.2);
  color: #113a4e;
  display: table;
  font-weight: 800;
  width: 100%;
}

.card-title--twoLines {
  @extend .card-title;

  @media (min-width: $screen-tablet-portrait) {
    margin-bottom: 10px;
    min-height: 55px;
  }
}

.card-link {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.card-description {
  @include x-clearfix;
  @include x-rem-fallback(font-size, $font-size-small);
  color: $color-typography;
  display: block;
  padding-top: 10px;
}

.card-count {
  font-size: 14px;
}

.card-figure {
  overflow: hidden;
  position: relative;
}

.card-image {
  display: inline-block;
  height: auto;
  width: 100%;

  &.lazy {
    background: #f1f1fa
      url(/jornadarelevante/assets/img/site/global/loading.gif) no-repeat center
      center;
  }
}

.card-tags {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  right: 0;
}

.card-tag {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 2px 2px 0 0;
  color: $color-white;
  margin-right: 5px;
  padding: 2px 5px;
  text-transform: uppercase;
}

// CARD 2020
.nc-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-left: -10px;
  margin-right: -10px;
}

.nc-card {
  @include x-column(12);
  display: none;
  float: none;
  margin-bottom: 2em;
  padding-top: 1em;
  position: relative;

  @media (min-width: $screen-tablet-portrait) {
    width: x-gridsystem-width(6);
  }

  @media (min-width: $screen-desktop) {
    width: x-gridsystem-width(4);
  }
}

.nc-cards--highlight .nc-card {
  margin-bottom: 10px;
}

.page-home .nc-card {
  display: block;
}

.nc-card-link {
  background: #fff;
  box-shadow: 0 2px 1px #f3f3f3;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  transition: transform 100ms ease-in-out;
  text-decoration: none;
  position: relative;

  &:hover {
    border-radius: 4px;
    box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0.4),
      0 0 8px 2px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    transform: scale(1.5);
    transition: transform 100ms ease-in-out;
    text-decoration: none;
    z-index: 2;
  }
}

.nc-card-figure {
  align-items: flex-end;
  background: #fbfbfb;
  display: flex;
  margin-right: 40px;
  min-height: 128px;
  padding: 0 10px;
  width: 42px;
}

.nc-card-image {
  background: #ffffff;
  border-radius: 50% 50% 50% 0;
  font-size: 0;
  padding: 20px;
  margin-left: -10px;
  box-shadow: 5px 4px 2px -4px #efeded;

  svg {
    min-width: 40px;
  }
}

.nc-card-description {
  padding: 10px 0 10px;
  width: 100%;
}

.nc-card-title {
  @include x-rem-fallback(font-size, 2.2);
  color: #113a4e;
  display: table;
  font-weight: 800;
  width: 100%;
}

.nc-card-readTime {
  background: #fff;
  border-radius: 0 4px 0 4px;
  color: #c3c3c3;
  display: block;
  font-weight: 400;
  font-size: 12px;
  padding: 5px 0;
}

.nc-card-date {
  display: flex;
  align-items: flex-end;
  color: $color-typography--gray_light;
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  bottom: 0;
  right: 10px;
  border-radius: 4px;
  overflow: hidden;
  text-align: right;
}

.nc-card-date-year {
  @include x-rem-fallback(font-size, 4);
  color: #f9f9f9;
  display: inline-block;
  line-height: 1;
  margin-bottom: -10px;
}
