.gallery {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-flow: row wrap;
  flex-wrap: wrap;
  margin-bottom: 10px;

  a {
    align-items: center;
    display: flex;
    max-height: 80px;
    min-height: 80px;
    overflow: hidden;
    margin: 1%;
    width: 48%;

    @media(min-width:$screen-tablet-portrait) {
      width: 18%;
    }
  }
}
