.people-list {
  margin-left: -10px;
  margin-right: -10px;

  ul {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
  }

  li {
    @include x-column(12);

    list-style: none;
    margin-bottom: 10px;

    @media (min-width: $screen-desktop) {
      width: x-gridsystem-width(4);
    }

    a {
      box-shadow: 0 1px 2px 0 #000;
      border-radius: 4px;
      color: $color-accent;
      display: flex;
      flex-direction: row;
      padding: 10px;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      img {
        border-radius: 4px;
        display: inline-block;
        height: 50px;
        margin: 0;
        margin-right: 10px;
        width: 50px;
      }

      em {
        @include x-rem-fallback(font-size, 1.7);

        font-style: normal;

        span {
          @include x-rem-fallback(font-size, 1.4);

          font-weight: 700;
          margin-bottom: 5px;
        }

        strong {
          @include x-rem-fallback(font-size, 1.2);

          color: $color-typography;
          display: block;
          line-height: 1;
        }
      }
    }
  }
}

.professionals-list {
  margin-left: -10px;
  margin-right: -10px;

  ul {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
  }

  li {
    @include x-column(12);

    list-style: none;
    margin-bottom: 10px;

    @media (min-width: $screen-desktop) {
      width: x-gridsystem-width(4);
    }

    span {
      box-shadow: 0 1px 2px 0 #ccc;
      border-radius: 4px;
      color: #5a6772;
      display: flex;
      flex-direction: row;
      padding: 10px;

      img {
        border-radius: 4px;
        display: inline-block;
        height: 80px;
        margin: 0;
        margin-right: 10px;
        width: 80px;
      }

      em {
        @include x-rem-fallback(font-size, 1.7);

        font-style: normal;

        strong {
          @include x-rem-fallback(font-size, 1.2);

          color: #5a6772;
          font-weight: 700;
          display: block;
          margin-top: 4px;
        }

        a {
          @include x-rem-fallback(font-size, 1.2);

          color: #61a7b9;
          line-height: 1;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
