.highlight {
  @include x-rem-fallback(font-size,$font-size-regular);
  color: $color-typography;
  margin-bottom: 20px;
  text-align: center;
}

.highlight-title {
  @include x-rem-fallback(font-size,3);

  font-weight: 700;
  line-height: 1;
  padding: 0 0 20px 0;

  @media(min-width:$screen-desktop) {
    @include x-rem-fallback(font-size,$font-size-xxx-large);

    margin-left: x-gridsystem-width(2);
    padding: 20px 0;
    width: x-gridsystem-width(8);
  }
}

.highlight-box {
  @media(min-width:$screen-desktop) {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: x-gridsystem-width(2);
    padding-top: 20px;
    width: x-gridsystem-width(8);
  }
}

.highlight-box-image {
  border-radius: 5%;
  float: left;
  height: 100px;
  margin-right: 10px;
  min-width: 100px;
  overflow: hidden;
  width: 100px;

  @media(min-width:$screen-desktop) {
    display: inline-block;
    float: inherit;
    height: 150px;
    margin-right: 20px;
    min-width: 150px;
    width: 150px;
  }
}

svg.highlight-box-image {
  border-radius: inherit;
  fill: #f7f7f7;
  height: inherit;
}

.highlight-box-description {
  text-align: left;

  p,
  h3 {
    @include x-rem-fallback(font-size,$font-size-small);

    @media(min-width:$screen-desktop) {
      @include x-rem-fallback(font-size,$font-size-regular);
    }
  }
}

.highlight-box-description-title {
  font-weight: 700;
}

.highlight-text {
  @include x-rem-fallback(font-size,$font-size-small);
  text-align: left;

  p {
    margin-top: 20px;

    @media(min-width:$screen-desktop) {
      @include x-rem-fallback(font-size,$font-size-regular);
      margin-top: 0;
    }
  }

  @media(min-width:$screen-desktop) {
    box-shadow: 0 1px 2px 0px #ccc;
    border-radius: 4px;
    margin-top: 40px;
    margin-left: x-gridsystem-width(2);
    padding: 10px;
    text-align: center;
    width: x-gridsystem-width(8);
  }
}

.page-perfil {
  .highlight-box {
    padding: 0;
  }
}
