.videos {
  @include x-clearfix;
  @include x-rem-fallback(margin-bottom,1);

  overflow: hidden;
}

.videos-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-flow: row wrap;
  margin: -0.5%;
}

.video {
  background: #ddd;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  width: x-gridsystem-width(12);

  & iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  @media(min-width:$screen-tablet-portrait) {
    margin: 0.5%;
    width: 49%;
    padding-bottom: 20%;
  }
}

.video--full {
  @extend .video;

  @media(min-width:$screen-tablet-portrait) {
    padding-bottom: 30%;
    width: 100%;
  }
}

.video--description {
  @include x-rem-fallback(font-size,1.9);

  width: x-gridsystem-width(12);

  @media(min-width:$screen-tablet-portrait) {
    margin: 0.5%;
    width: 49%;
  }
}

// Youtube
.youtube {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.youtube img {
  opacity: 0.7;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.youtube .play-button {
  width: 90px;
  height: 60px;
  background-color: #333;
  box-shadow: 0 0 30px rgba( 0,0,0,0.6 );
  z-index: 1;
  opacity: 0.8;
  border-radius: 6px;
}
.youtube .play-button:before {
  content: "";
  border-style: solid;
  border-width: 15px 0 15px 26.0px;
  border-color: transparent transparent transparent #fff;
}
.youtube img,
.youtube .play-button {
  cursor: pointer;
}
.youtube .play-button,
.youtube .play-button:before {
  position: absolute;
}
.youtube .play-button,
.youtube .play-button:before {
  top: 50%;
  left: 50%;
  transform: translate3d( -50%, -50%, 0 );
}
