// Blogs
/// @author Hemerson Vianna
// IMHO movies
$color-background: #212121;
$color-primary--dark: #32211a;
$color-primary: #795548;
$color-primary--light: #ccbfbb;

$color-white: #fff;
$color-secundary: $color-white;
$color-secundary--light: $color-white;

$color-accent: #ff5722;
$color-text: #fff;
$color-rgba: rgba(121, 85, 72, 0.9);

$color-typography--dark:  #757575;
$color-typography: rgba(255,255,255,0.4);
$color-typography--light: $color-white;

$color-typography--gray_light: #d7d7d7;

$color-typography--link-dark: $color-accent;
$color-typography--link-light: $color-accent;
