// Blogs
/// @author Hemerson Vianna
// Noob da era 8 bits
$color-background: #212121;
$color-primary--dark: #014039;
$color-primary: #009688;
$color-primary--light: #A3D7D1;

$color-white: #fff;
$color-secundary: $color-white;
$color-secundary--light: $color-white;

$color-accent: #CDDC39;
$color-text: #fff;
$color-rgba: rgba(0, 150, 136, 0.9);

$color-typography--dark:  #757575;
$color-typography: rgba(255,255,255,0.4);
$color-typography--light: $color-white;

$color-typography--gray_light: #d7d7d7;

$color-typography--link-dark: $color-accent;
$color-typography--link-light: $color-accent;
