// Blogs
/// @author Hemerson Vianna
// Foco no Capital
$color-background: #212121;
$color-primary--dark: #1d4b1e;
$color-primary: #4caf50;
$color-primary--light: #bce0bd;

$color-accent: #009688;
$color-text: #fff;
$color-rgba: rgba(76, 175, 80, 0.9);

$color-typography: rgba(255,255,255,0.4);
