// Blogs
/// @author Hemerson Vianna
// Hemerson Vianna
$color-background: #212121;
$color-primary--dark: #2a134f;
$color-primary: #673ab7;
$color-primary--light: #c6b6e3;

$color-accent: #e040fb;
$color-text: #fff;
$color-rgba: rgba(103, 58, 183, 0.9);

$color-typography: rgba(255,255,255,0.4);
