// Blogs
/// @author Hemerson Vianna
// Main
$color-background: #212121;
$color-primary--dark: #26333A;
$color-primary: #607D8B;
$color-primary--light: #C3CDD2;

$color-accent: #CDDC39;
$color-text: #fff;
$color-rgba: rgba(96, 125, 139, 0.9);

$color-typography: rgba(255,255,255,0.4);
