// Blogs
/// @author Hemerson Vianna
// Noob da era 8 bits
$color-background: #212121;
$color-primary--dark: #014039;
$color-primary: #009688;
$color-primary--light: #A3D7D1;

$color-accent: #FFC107;
$color-text: #fff;
$color-rgba: rgba(0, 150, 136, 0.9);

$color-typography: rgba(255,255,255,0.4);
