// Blogs
/// @author Hemerson Vianna
// Sabor Instintivo
$color-background: #212121;
$color-primary--dark: #715401;
$color-primary: #ffc107;
$color-primary--light: #ffe7a7;

$color-accent: #ff9800;
$color-text: #fff;
$color-rgba: rgba(255, 193, 7, 0.9);

$color-typography: rgba(255,255,255,0.4);
