// Blogs
/// @author Hemerson Vianna
// Sonus et Rhythmus
$color-background: #212121;
$color-primary--dark: #670727;
$color-primary: #e91e63;
$color-primary--light: #f6aec4;

$color-accent: #9e9e9e;
$color-text: #fff;
$color-rgba: rgba(233, 30, 99, 0.9);

$color-typography: rgba(255,255,255,0.4);
